.ProgramEconSmallMultiplesSection-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media screen and (min-width: 1000px) {
    flex-flow: row wrap;
  }
}

.ProgramEconSmallMultiplesSection-item {
  min-width: 0;
  padding-bottom: 1rem;

  @media screen and (min-width: 1000px) {
    width: 33%;
    padding-right: 1rem;

    &--right {
      width: 66%;
      padding-left: 1rem;
      padding-right: 0;
    }
  }
  @media screen and (max-width: 1000px) {
      &--right {
          width: calc(100% + 4.5em);
          margin-left: -1.5rem;
    }

  }
}

.ProgramEconSmallMultiplesSection-share {
  max-width: 250px;
}

.programme-econ-small-multiples * {
    .heading-line {
        stroke: #ccc;
        stroke-width: 1;
    }

    .programme-row text, .programme-row text tspan {
        font-size: 1.6vh;
        font-weight: bold;
    }

    .subprogramme-row text, .subprogramme-row text tspan {
        font-size: 1.5vh;
        fill: #5A5A5A;
    }

    text.spend-value , text.spend-value tspan {
        font-size: 1.5vh;
        fill: #484848;
    }

    .background-rect {
        fill: #F2F2F2;
    }

    .bar-rect {
        fill: url(#bar-gradient)
    }

    defs .bar-gradient  stop {
        stop-color: blue;
    }

    #bar-gradient stop:nth-child(1) {
        stop-color: #91C9C4;
    }
    #bar-gradient stop:nth-child(2) {
        stop-color: #1D4A3F;
    }

    .gridline {
        stroke: #EFEFEF;
    }

    .main-label text {
        font-size: 1.5vh;
        fill: white;
    }

}
