.budget-documents {
    z-index: 10;
    position: relative;

    .item {
        margin: 15px;
        display: inline-block;

        .title {
            margin-bottom: 15px;
        }

        .title.skeleton {
            height: 12px;
            width: 200px;
            background-color: #e8dada;
            border-radius: 3px;
        }

        .Button {
            .label.skeleton {
                display: inline-block; // for span height to apply
                width: 100px;
                height: 12px;
                background-color: #e8dada;
                border-radius: 3px;
            }
        }
        .Button.skeleton {
            border-color: #e8dada;
        }

    }
}
