.budget-documents {
    z-index: 10;
    position: relative;

    .cards-container {
        display: grid;

        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 10px;
    }

    .item {
        display: inline-block;

        .title {
            margin-bottom: 5px;
            font-size: 15px;
            font-weight: 400;
        }

        .format {
            font-size: 10px;
            font-weight: 400;
            margin-bottom: 10px;
        }

        .title.skeleton {
            height: 12px;
            width: 200px;
            background-color: #e8dada;
            border-radius: 3px;
        }

        .Button {
            .label.skeleton {
                display: inline-block; // for span height to apply
                width: 100px;
                height: 12px;
                background-color: #e8dada;
                border-radius: 3px;
            }
        }
        .Button.skeleton {
            border-color: #e8dada;
        }

        a:link.resource-link {
            text-decoration: none;
        }
    }
}

@media only screen and (min-width: 500px) {
  .budget-documents .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .budget-documents .cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
