{% load define_action %}
<div id="background">
  <h3 class="Page-mainHeading">Background</h3>

  <div class="u-marginBottom20">
    {% assign site.data.videos.data.0 as video1 %}
    {% include 'components/universal/VideoCard/index.html' with fullpage="true" video=video1 utils="u-marginBottom15" %}
  </div>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <h4 class="Section-title">Project description</h4>

      <div class="js-tooltips">
        <p>National Treasury has been working in partnership with IMALI YETHU to develop an easily accessible online budget data portal. This portal has recently been named "vulekamali" by a South African citizen who entered a competition which was open from November 2017 until mid January 2018. Through vulekamali, National Treasury continues to entrench its commitment to transparency and budget participation reforms.</p>
        
        <p>As is well known internationally through ranking in the 2017 Open Budget Index (OBI), South Africa came 1st out of 115 countries, sharing this position with New Zealand. National Treasury already publishes extensive budgetary information on its website, however it has been observed over time that the use of this data is not as extensive as it could be. Furthermore, the OBI report shows that South Africa can improve on public participation. The portal will therefore publish easily accessible data in a user-friendly format, to enable more effective information sharing, analyses and research. The portal will support involvement by civil society and the public in the budget process and enable citizens to have informed discussions in different government policy areas.</p>

        <p>The launch of Vulekamali was on 20 February 2018, in Parliament, Cape Town.</p>

        <p><a href="https://imaliyethu.org.za" target="_blank">IMALI YETHU</a> is an open coalition of civil society organisations driven by an interest in promoting budget transparency and public participation. Members are in active support of the development of the budget portal and seek to promote wider civic participation across all sectors of South African society.</p>
      </div>

    </div>
  </div>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <h4 class="Section-title">The Open Government Partnership</h4>

      <div class="js-tooltips">
        <p>South Africa is a founding member of the multilateral Open Government Partnership (OGP) initiative that “aims to secure concrete commitments from governments to promote transparency, empower citizens, fight corruption, and harness new technologies to strengthen governance" (<a href="https://www.opengovpartnership.org/" target="_blank">http://www.opengovpartnership.org/</a>).</p> 

        <p>Each member government is required to submit an action plan containing commitments. South Africa's OGP commitment two is in respect of Open Budgeting and National Treasury, working together with Civil Society Organisations, is responsible for the attainment of this commitment.</p>

        <p>This commitment requires involvement of civil society in various aspects of the budget process from planning to implementation and monitoring and evaluation, enabling citizens to have a firmer grasp of how national resources are generated, distributed and reported upon.</p>
      </div>

    </div>
  </div>
</div>
