<div class="HeaderBar">
  <div class="HeaderBar-wrap">
    <div class="HeaderBar-navBarWrap">
      {% include 'components/header-and-footer/NavBar/index.html' with items=items selected_tab=selected_tab latest_year=latest_year selected_sidebar=selected_sidebar%}
    </div>
    <a href="/" class="HeaderBar-logoWrap">
      {% include 'components/header-and-footer/Logo/index.html' %}
    </a>
    <div class="HeaderBar-searchWrap">
      {% include 'components/header-and-footer/Search/index.html' %}
    </div>
  </div>
</div>
