.Hero {
  background: #fdf7d5;
  color: #3f3f3f;
}

.Hero-video {
  fill: white;
  color: white;
  height: 100px;
  width: 100px;
  margin-top: 2rem;
  border-radius: 50%;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  @media screen and (min-width: 750px) {
    height: 170px;
    width: 170px;
  }

  &::before {
    box-sizing: content-box;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 6px solid grey;
    left: -6px;
    top: -6px;
    border-radius: 50%;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
  }

  &:hover::before {
    transform: scale(1.3);
    opacity: 0.3;
  }
}

.Hero-title {
  max-width: 30rem;
  text-align: center;
  font-size: 2rem;

  @media screen and (min-width: 900px) {
    font-size: 3rem;
  }
}

.Hero {
  height: 25rem;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('/assets/images/hero-placeholder.jpg');
}
