{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="Title">{% trans "404 Error" %}</h1>

<div class="Card u-marginAuto u-marginBottom20">
  <div class="Card-content">
    <h3 class="Card-title">Something went wrong</h3>
    <a class="Button is-secondary" href="{{ login_url }}">Attempt to log in again</a>

    <div class="u-marginTop20 u-marginBottom20">
      <div class="Divider">
        <div class="Divider-line"></div>
        <div class="Divider-title">OR </div>
        <div class="Divider-line"></div>
      </div>
    </div>

    <p>Contact us at feedback@vulekamali.gov.za</p>
  </div>
</div>

{% endblock %}
