{% load define_action %}
{% assign "infrastructure-projects" as hardcoded_infrastructure %}

{% if debug %}
    {% assign "" as production %}
{% else %}
    {% assign "data-production" as production %}
{% endif %}


<!DOCTYPE html>
<html>
{% include 'utilities/html/head.html' with title=title description=description %}
<body {{ production }} data-spy="scroll" data-offset="200">
{% if production %}
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLNL56L"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endif %}
{% block content %}
{% endblock %}
{% include 'utilities/html/scripts.html' %}
</body>
</html>
