{% extends 'page-shell.html' %}
{% load define_action %}
{% load humanize %}
{% block page_content %}

    {% if government.slug == 'south-africa' %}
        {% assign 'National' as department_location %}
    {% else %}
        {% assign government.name as department_location %}
    {% endif %}


    {% if government.slug == 'south-africa' %}
        {% assign 'Estimates of National Expenditure' as source_type %}
        {% assign 'Estimates of National Expenditure' as source_type_revenue %}
        {% assign 'ENE' as source_type_revenue_short %}
        {% assign "Adjusted Estimates of National Expenditure" as source_type_adjusted %}
        {% assign "AENE" as source_type_adjusted_short %}
        {% assign "/learning-resources/guides/estimates-of-national-expenditure" as guide %}
    {% else %}
        {% assign 'Estimates of Provincial Expenditure' as source_type %}
        {% assign 'Estimates of Provincial Revenue and Expenditure' as source_type_revenue %}
        {% assign 'EPRE' as source_type_revenue_short %}
        {% assign "Adjusted Estimates of Provincial Revenue and Expenditure" as source_type_adjusted %}
        {% assign "AEPRE" as source_type_adjusted_short %}
        {% assign "/learning-resources/guides/estimates-of-provincial-expenditure" as guide %}
    {% endif %}


    {% if department_budget %}
        {% assign department_budget.name as chapter_name %}
        {% assign department_budget.document.url as pdf_link %}
        {% assign department_budget.tables.url as excel_link %}
    {% else %}
        {% assign "" as chapter_name %}
        {% assign "" as pdf_link %}
        {% assign "" as excel_link %}
    {% endif %}


    {% if department_adjusted_budget %}
        {% assign department_adjusted_budget.document.url as pdf_link_adjusted %}
        {% assign department_adjusted_budget.tables.url as excel_link_adjusted %}
    {% else %}
        {% assign "" as pdf_link_adjusted %}
        {% assign "" as excel_link_adjusted %}
    {% endif %}


    {% if treasury_datasets %}
        {% for item in treasury_datasets %}
            {% assign item.1.formats as modified_formats %} {# | sort: 'format' %} #}
            {% assign modified_formats.0.url as pdf %}
            {% assign modified_formats.1.url as excel %}
        {% endfor %}
    {% else %}
        {% assign pdf_link as pdf %}
        {% assign excel_link as excel %}
    {% endif %}


    {% include 'components/department-budgets/ArrowButtons/index.html' with fixed="true" link_1="#section-plan" link_2="#section-implement" link_3="#section-review" %}

    {% if sphere.slug == "national" and slug == "parliament" %}
        {% assign "true" as parliament %}
    {% else %}
        {% assign "" as parliament %}
    {% endif %}

    {% assign department_location|add:" "|add:name|add:" Department Budget "|add:selected_financial_year as subtitle %}


    <div class="Page-content Page-content--dynamicYears">
        <div class="Page-contentInner Page-contentInner--department is-full">

            <h1 class="Page-mainHeading u-textAlignCenter u-marginBottom0 u-marginLeft0">
                {{ name }}
            </h1>
            <span class="Page-subHeading u-textAlignCenter">
          {{ department_location }} Department Budget for {{ selected_financial_year }}
        </span>
            {% if website_url %}
                <span class="Page-subHeading-link u-textAlignCenter">
              <a href="http://{{ website_url }}">{{ website_url }}</a>
            </span>
            {% endif %}
            {% include 'components/department-budgets/IntroSection/index.html' with description=intro datasets=treasury_datasets location=department_location %}

            {% if public_entities %}
            <div class="IntroSection">
                <div class="IntroSection-textWrap">
                  <div class="js-initIntroSection">
                    <div class="IntroSection-text">
                        <div class="IntroSection-content">
                                <h2>
                                    <span class="Navbar-Tag-new">New</span> <a href="/latest/public-entities?department={{name}}">Public Entities</a> associated with this department:
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="DepartmentPublicEntity-list">
                    {% for entity in public_entities %}
                        <li>
                            <a href="{{ entity.url_path }}">{{ entity.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
              </div>
              {% endif %}

            <div class="Page-subHeading u-marginTop15 u-supportsFlex u-textAlignCenter u-marginBottom25">
                The Budget Cycle
            </div>

            <div>
                {% include 'components/department-budgets/ArrowButtons/index.html' with link_1="#section-plan" link_2="#section-implement" link_3="#section-review" %}
            </div>

            <div class="u-marginTop100">
                <div class="DeptSectionHead DeptSectionHead--green" id="section-plan">
                    Plan
                </div>
            </div>

            <div class="u-marginTop25 u-marginBottom60">
                <h3 class="Title Title--section">{{ selected_financial_year }} Budget</h3>
                <p>
                    The {{ source_type_revenue }} ({{ source_type_revenue_short }}) is a book published along with the
                    tabling of the budget for the new financial year.
                </p>

                {% assign "View the "|add:source_type_revenue_short|add:" chapter for "|add:chapter_name|add:" (PDF)" as text1 %}
                {% assign "View tables in the "|add:source_type_revenue_short|add:" chapter (Excel)" as text2 %}

                {% if pdf_link or excel_link %}
                    <ul class="LinksList">
                        {% include 'components/LinksList/item.html' with text=text1 url=pdf_link type="download" %}

                        {% include 'components/LinksList/item.html' with text=text2 url=excel_link type="download" %}
                    </ul>
                {% endif %}
            </div>

            <div class="u-marginBottom60">
                {% include 'scenes/department/ProgrammesSection/index.html' with source_type=source_type year=selected_financial_year pdf=pdf excel=excel guide=guide %}
            </div>

            <div class="u-marginBottom60">
                {% include 'scenes/department/EconClassPackedCircles/econ-class-packed-circles.html' with source_type=source_type year=selected_financial_year pdf=pdf excel=excel guide=guide %}
            </div>

            <div class="u-marginBottom60">
                {% include 'scenes/department/ProgramEconSmallMultiples/programme-econ-small-muls.html' with source_type=source_type year=selected_financial_year pdf=pdf excel=excel guide=guide %}
            </div>

            <h3 class="Title Title--section">{{ selected_financial_year }} Adjusted Budget</h3>
            <p>
                The {{ source_type_adjusted }} ({{ source_type_adjusted_short }}) is a book published along with the
                tabling of the adjusted budget.
            </p>

            {% assign "View the "|add:source_type_adjusted_short|add:" chapter for "|add:chapter_name|add:" (PDF)." as text1 %}
            {% assign "View tables in the "|add:source_type_adjusted_short|add:" chapter (Excel)." as text2 %}

            {% if pdf_link_adjusted or excel_link_adjusted %}
                <ul class="LinksList u-marginBottom60">
                    {% include 'components/LinksList/item.html' with text=text1 url=pdf_link_adjusted type="download" %}
                    {% include 'components/LinksList/item.html' with text=text2 url=excel_link_adjusted type="download" %}
                </ul>
            {% else %}

                {% if excel_link_adjusted %}
                    <div class="Message Message--secondary u-marginBottom60">
                        <div class="Message-content">
                            {% include 'components/Icon/index.html' with type="info" %}
                            <span class="Message-heading">
                  Please note
                </span>
                        </div>
                        <div class="Message-text Message-text--secondary">The {{ source_type_adjusted_short }} chapter
                            for {{ chapter_name }} (PDF) is not available yet
                        </div>
                    </div>
                {% elif pdf_link_adjusted %}
                    <div class="Message Message--secondary u-marginBottom60">
                        <div class="Message-content">
                            {% include 'components/Icon/index.html' with type="info" %}
                            <span class="Message-heading">
                  Please note
                </span>
                        </div>
                        <div class="Message-text Message-text--secondary">The tables in {{ source_type_revenue_short }}
                            chapter (Excel) is not available yet
                        </div>
                    </div>
                {% else %}
                    {% assign "The "|add:source_type_revenue_short|add:" chapter for "|add:chapter_name|add:" (PDF) is not available yet" as info2 %}
                    {% assign "The tables in "|add:source_type_revenue_short|add:" chapter (Excel)" as info3 %}

                    <div class="Message Message--secondary u-marginBottom60 ">
                        <div class="Message-content">
                            {% include 'components/Icon/index.html' with type="info" %}
                            <span class="Message-heading">
                  Please note
                </span>
                        </div>
                        <div class="Message-text Message-text--secondary">The adjusted budget documents are not
                            available yet on vulekamali.gov.za
                        </div>
                    </div>
                {% endif %}
            {% endif %}


            {% if government.slug == 'south-africa' %}
                <div class="u-marginBottom60">
                    {% include 'scenes/department/AdjustedSection/index.html' with type="adjusted" items=adjusted_budget_summary source_type=source_type source_type_adjusted=source_type_adjusted year=selected_financial_year pdf=pdf excel=excel pdf_adjusted=pdf_link_adjusted excel_adjusted=excel_link_adjusted csv=adjusted_budget_summary.department_data_csv dataset=adjusted_budget_summary.dataset_detail_page parliament=parliament title="Programme budgets" subtitle=subtitle description="Activities of this department" %}
                </div>
            {% endif %}

            {% if procurement_resource_links %}
                <div class="js-tooltips">
                    {% include 'scenes/department/ResourceLinks/resource-links.html' with resource_links=procurement_resource_links section_title="Procurement resources" more_link="/datasets/procurement-portals-and-resources" %}
                </div>
            {% endif %}

            <div class="u-marginTop100">
                <div class="DeptSectionHead DeptSectionHead--orange" id="section-implement">
                    Implement
                </div>
            </div>

            {% if infra_enabled %}
                <div id="InfraSection">
                    <h3 class="Title Title--section">Department infrastructure projects</h3>

                    <p>Largest infrastructure projects by this department.</p>

                    <div class="Section-card">
                        <table class="u-widthFull u-textAlignLeft">
                            <tr>
                                <th>Project name</th>
                                <th class="hidden-sm">Status</th>
                                <th class="hidden-md">Estimated completion date</th>
                            </tr>
                            {% for project in projects %}
                                <tr>
                                    <td>
                                        <a href="{{ project.url_path }}">
                                            {{ project.name }}
                                        </a>
                                    </td>
                                    <td class="hidden-sm">{{ project.status|default:"Not available" }}</td>
                                    <td class="hidden-md">{{ project.estimated_completion_date|default:"Not available" }}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">No projects available for this department.</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>

                    <div class="u-textAlignRight">
                        <a class="Button is-secondary is-inline u-marginTop20 u-textAlignRight"
                           href="/infrastructure-projects/provincial/?q=&filter=department%3A{{ name|iriencode }}&filter=government_label%3A{{ government.label|iriencode }}">
                            View all projects
                        </a>
                    </div>

                </div>
            {% endif %}

            {% if in_year_monitoring_resource_links %}
                <div class="js-tooltips">
                    {% include 'scenes/department/ResourceLinks/resource-links.html' with resource_links=in_year_monitoring_resource_links section_title="In-year monitoring resources" %}
                </div>
            {% endif %}

            {% if performance_resource_links %}
                <div class="js-tooltips">
                    {% include 'scenes/department/ResourceLinks/resource-links.html' with resource_links=performance_resource_links section_title="Performance monitoring resources" %}
                </div>
            {% endif %}

            {% if eqprs_data_enabled %}
                <div
                        id="js-initPerformanceIndicators"
                        data-department="{{ name }}"
                        data-year="{{ selected_financial_year }}"
                        data-government="{{ government.name }}"
                        data-sphere="{{ sphere.name }}"
                ></div>
            {% endif %}

            {% if not infra_enabled and not in_year_monitoring_resource_links and not performance_resource_links %}
                <div class="Message Message--secondary u-marginBottom20 u-marginTop25">
                    <div class="Message-content">
                        {% include 'components/Icon/index.html' with  type="info" size="l" %}
                        <span class="Message-heading">
              Please note
            </span>
                    </div>
                    <div class="Message-text Message-text--secondary">Implementation data coming soon.</div>
                </div>
            {% endif %}

            <div class="u-marginTop100">
                <div class="DeptSectionHead DeptSectionHead--purple" id="section-review">
                    Review
                </div>
            </div>

            {% if expenditure_over_time %}
                <div class="u-marginBottom60 u-marginTop15">
                    {% include 'scenes/department/ExpenditureSection/index.html' with items=expenditure_over_time.expenditure cpi=global_values.cpi_dataset_url source_type=source_type year=selected_financial_year dataset=expenditure_over_time.dataset_detail_page pdf=pdf_link excel=excel csv=expenditure_over_time.department_data_csv guide=guide color="purple" title="Planned compared to historical expenditure" subtitle=subtitle description="Expenditure changes over time" %}
                </div>
            {% endif %}

            {% with ""|add:department_location|add:" "|add:name|add:" Department" as text %}

                {% if budget_actual %}
                    <div class="u-marginBottom60 u-marginTop15">
                        {% include 'scenes/department/ExpenditurePhaseSection/index.html' with items=budget_actual.expenditure cpi=global_values.cpi_dataset_url source_type="Expenditure Time Series" year=selected_financial_year dataset=budget_actual.dataset_detail_page csv=budget_actual.department_data_csv color="purple" description="Budgeted and Actual Expenditure comparison" subtitle=review_subtitle notices=budget_actual.notices website_url=website_url %}
                    </div>
                {% endif %}

                {% if budget_actual_programmes %}
                    <div class="u-marginBottom60 u-marginTop15">
                        {% include 'scenes/department/ExpenditureMultiplesSection/index.html' with items=budget_actual_programmes.programmes cpi=global_values.cpi_dataset_url source_type="Expenditure Time Series" year=selected_financial_year dataset=budget_actual_programmes.dataset_detail_page csv=budget_actual_programmes.department_data_csv color="purple" subtitle=review_subtitle description="Budgeted and Actual Expenditure comparison by Programme" notices=budget_actual_programmes.notices %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="u-marginTop20">
                <div class="Grid has-leftSidebar">
                    <div>
                        {% include 'components/department-budgets/ContributedData/index.html' with datasets=contributed_datasets %}
                    </div>

                    <div>
                        {% include 'components/universal/Participate/index.html' with title="Timelines for this department and ways to participate" description="National Treasury, departments and commitees are busy with different things depending on the time of year:" %}

                        {% if comments_enabled %}
                            <div class="Section u-marginTop20">
                                <h2 class="Title Title--section">Discuss this budget with others</h2>
                                <div data-enhance-component="Comments"
                                     data-url="https://vulekamali.gov.za{{ request.path }}">
                                    <div id="discourse-comments"></div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <nav class="SectionIndicator" data-sticky-arrows>
                <ul class="SectionIndicator-list nav">
                    <li class="SectionIndicator-item nav-item">
                        <a href="#section-plan" data-scroll-smooth="#section-plan"
                           class="SectionIndicator-circle SectionIndicator-circle--green nav-link"></a>
                    </li>

                    <li class="nav-item">
                        <a href="#section-implement" data-scroll-smooth="#section-implement"
                           class="SectionIndicator-circle SectionIndicator-circle--orange nav-link"></a>
                    </li>

                    <li class="nav-item">
                        <a href="#section-review" data-scroll-smooth="#section-review"
                           class="SectionIndicator-circle SectionIndicator-circle--purple nav-link"></a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
{% endblock %}
