{% load define_action %}

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://viz.vulekamali.gov.za/main.css"/>
<link rel="stylesheet" href="https://viz.vulekamali.gov.za/bubbles.css"/>

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://viz.vulekamali.gov.za/utils.js"></script>

<div class="department-bubbles"
     data-aggregate-url="{{ viz_data.get_aggregate_url }}"
     data-openspending-model="{{ viz_data.get_model | jsonify | escape }}"
     >
</div>
<script src="https://viz.vulekamali.gov.za/openspending.js"></script>
<script src="https://viz.vulekamali.gov.za/vulekamali-openspending.js"></script>
<script src="https://viz.vulekamali.gov.za/utils.js"></script>
<script src="https://viz.vulekamali.gov.za/elements.js"></script>
<script src="https://viz.vulekamali.gov.za/dept-bubbles.js"></script>
