
<h1 class="Page-mainHeading">Dataset Guide: Performance and Expenditure Reviews (PER)</h1>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Introduction</div>
    <p>
      A <a href="/datasets/performance-and-expenditure-reviews">Performance and Expenditure Review (PER)</a> is a process of reviewing government spending on a particular service, and how effective this spending is.
    </p>

    <p>
      In South Africa, National Treasury started performing Performance and Expenditure Reviews in partnership with the Department of Performance Monitoring and Evaluation in the Presidency in 2013. PERs are widely used internationally for quantifying, assessing and improving the cost effectiveness of public policy - how government sets out to do its work.
    </p>

    <p>The outputs of a Performance and Expenditure Review often include</p>
    <ul>
      <li>a one-page summary,</li>
      <li>a technical report,</li>
      <li>the framework in which decisions are made,</li>
      <li>a model of the costs to provide this service, and</li>
      <li>infographics presenting the findings.</li>
    </ul>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">How can this help me?</div>
    <p>
      PERs can be used to estimate how much changes in the law or changes in government’s operations might cost. They help identify options for getting more value for the money government spends. In cases where policy is not well-formulated, or institutions are not properly aligned to achieve their objectives, policy-makers use the findings in PERs to improve policies, institutions and activities. In this way, PERs help improve budget planning and reporting.
    </p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Methodology used in PERs</div>
    <a href="https://www.gtac.gov.za/Eventdocs/PER%20Placemat%20V3.pdf" target="_blank">
      <img src="/assets/images/per-thumb.png" alt="Methodology used in PERs Graph">
    </a>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Technical overview</div>
  <p>
    In 2013, the National Treasury, in partnership with with the Department of Performance Monitoring and Evaluation in the Presidency, initiated a series of performance and expenditure reviews (PERs) of selected public programmes or policies. Projects were chosen on the basis of recommendations by the Ministers’ Committee on the Budget (a sub-committee of Cabinet), and officials of DPME and National Treasury.
  </p>

  <p>
    PERs involve the close scrutiny of both expenditure and programme performance data, and are widely used internationally for quantifying, assessing and improving the cost effectiveness of public policy and the cost-effectiveness of public spending. They are also used to cost the implications of legislative changes and policy choices. In cases in which policy is weakly formulated or institutions are not properly aligned for the achievement of programme objectives, policy-makers use their findings to reconfigure policies, institutions and activities. In this way, PERs help improve budget planning and reporting.
  </p>

  <p>
    Each PER was conducted by a team of specialist consultants, guided by a project steering committee that included representatives of the relevant departments. This committee was responsible for ensuring that the final report presents an accurate picture of the programme or policy that was under review. They signed off on the completion of the projects and its constituent phases, including the separate programme and performance analysis and expenditure and costing analysis phases. Having been compiled by external consultants, however, the PERs should be read as advisory submissions, based on available evidence, but not necessarily reflecting government’s views or assessments of the issues addressed.
  </p>

  <p>
    An unusual feature of these PERs is the emphasis placed on developing costing models designed to help policy-makers make informed choices about how changing key policy parameters might affect expenditure levels and trends. This facilitates the development and description of “scenarios” in which different policy choices’ costs and effects can be tested. All the PERs, used the same basic methodology and were managed through an identical set of phases, the goal of which was to enforce a discipline on projects that might otherwise become too extended and unfocused, to create ample opportunities to identify challenges, and to ensure that the results would be useful for policy-makers. These stages are reflected in the accompanying diagram.
  </p>

  <p>
    The PERs were conducted over relatively short timeframes – generally less than six months – using available administrative data. This was intended to ensure their relevance to policy-making and the budget process, but it means that there was limited scope for investigative research or in-depth interrogation of the available data and data sources. In some instances, these data were not completely congruent with each other. However, the PER programme emphasised “learning by doing” rather than waiting for the perfect methodology and for perfect data sets. While it is generally accepted that the completion of some aspects of a PER (e.g. the costing model) will unavoidably involve assumptions and estimates, in some cases these studies had to rely on data that fell short of expectations. The result is that some PERs are less grounded in reliable evidence than would be ideal, and their conclusions are, for that reason, somewhat tentative or open to alternative interpretations.
  </p>

  <p>
    The sheer number of PERs commissioned, the complexity of the policy and delivery issues, concerns relating to data and other challenges arising from the institutional landscape, meant that not all PERs were equally successful at extracting insights. Some of the themes that have emerged in the process include:
  </p>

  <p>
    Policies are sometimes designed and implemented with unrealistic expectations regarding the availability of current or future funding. Several PERs have identified affordability challenges, sometimes related to the mechanisms designed or implemented, and sometimes because policy commitments or time-frames have been too ambitious. A related problem that emerged is that short-term measures adopted to address a policy goal often have unanticipated medium- and long-term budgetary implications, leading to new sources of budget pressure that are not easily managed.
  </p>

  <p>
    Policies that require the realignment and/or redesign of government structures are often unable to achieve this. Programme implementation sometimes involves an implicit reframing of institutional objectives and functions that is sometimes beyond the capacity of existing structures or, creating accountability and oversight challenges that departments struggle to manage. One manifestation of this is that some government agencies’ expenditure on corporate services has expanded beyond reasonable limits.
  </p>

  <p>
    Intergovernmental cooperation poses special challenges and makes a commitment to effective performance monitoring and evaluation even more important. Policies and programmes that require collaboration, cooperation and integration among multiple departments, spheres of government and state-owned entities, and which require funds to flow between them, are especially challenging to design and implement. Their effective reform is also sometimes difficult to effect. One effect of this is that policies are sometimes founded on the assumption that nationally-driven implementation is either easiest or most effective, with the result that the capacity of provincial and local government is underplayed.
  </p>

  <p>
    In general, departments have welcomed the PERs’ advice on policy and institutional changes. However, the implementation of reforms is seldom easy, rapid or uncontroversial. Often considerable consultation is required as stakeholders process the implications of the PERs. Even when policy changes have not been made, the PERs, and in particular the costing models, play an important role in discussions between Treasury and spending departments.
  </p>

  <p>
    Because the PERs were originally conceived as internal technical documents, the reports are quite dense and complex. On the GTAC website there are summaries that seek to convey to a broader audience the key findings of the PERs in a more accessible manner. It is hoped, nonetheless, that readers will engage with the full reports because they demonstrate the value of rigorous assessments of the costs of delivering on policy commitments. The PERs show, ultimately, that evidence-based policy-making has the potential to contribute to better value for money and, critically, higher levels of service delivery. Both are essential if government is to achieve the long-term goal of improving the lives of all South Africans.
  </p>
</div>