<h1 class="Page-mainHeading">Dataset Guide: Estimates of National Expenditure</h1>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Overview</div>
  <p>
    The Estimates of National Expenditure (ENE) publications describe in detail the planned spending in all national government votes over the three-year medium-term expenditure framework (MTEF) period, government’s expenditure planning window. An abridged publication is available together with more detailed e-publications.
  </p>

  <p>
    The ENE abridged  publication is tabled in Parliament by the Minister of Finance alongside the main budget. The publication is the explanatory memorandum to the Appropriation Bill. The executive tables the bill and accompanying publication seeking Parliament’s approval and adoption of government’s spending plans for the first year of the MTEF period.
  </p>

  <p>
    Generally, a vote specifies the total amount of money appropriated to a national government department.  A national government vote is generally synonymous with a national government department. However, in certain instances, a vote may contain more than one national government department. For instance, the Cooperative Governance and Traditional Affairs vote contains two departments, the Department of Cooperative Governance and the Department of Traditional Affairs.
  </p>

  <p>
    The ENE publications include information on how government institutions have spent their budgets in previous years, and how they intend to use their allocations over the medium term to achieve their goals, including the outputs and outcomes spending is expected to lead to.
  </p>

  <p>
    The publications include tables depicting non-financial performance indicators and targets, departmental receipts, and detailed expenditure trends and estimates.
  </p>

  <p>
    A more in-depth narrative analyses the institution’s expected expenditure over the MTEF period. A summary table is included at the end of the chapter for votes in which there is significant spending on infrastructure. In addition, the e-publications contain programme personnel data tables, a brief summary for all entities, as well as additional summary data tables on provincial and municipal conditional grants, public-private partnerships, donor funding, and expenditure at the level of service delivery, where applicable.
  </p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Where does the data come from?</div>

  <p>
    The dataset emanates from the yearly national government budget process. At the beginning of each budget process, the National Treasury publishes guidelines depicting the information that governmental institutions are expected to submit to the National Treasury in their budget submissions. A vital part of this process involves the large number of public institutions planning, negotiating and deciding collectively how to spend public resources.
  </p>

  <p>
    As the budget process is focused on institutional performance in relation to government outcomes, it is organised by function of government. The trade-offs of financing different policy objectives within the constraints of the expenditure ceiling are examined, culminating in recommendations on how institutional policies and practices, and arrangements, can be adapted to best achieve the function’s outcomes.
  </p>

  <p>
    These function group discussions shape the allocations to specific government institutions. The recommendations from each function group are then presented to the ministers’ committee on the budget technical committee (MTEC), a committee comprising the directors-general of central national government departments. Once this part of the process has been finalised, the recommendations endorsed by MTEC are taken to the ministers’ committee on the budget. This committee then reviews the recommendations put forward in respect of the different function groups and ultimately considers the trade-offs and priorities for government as a whole. The recommendations of the ministers’ committee on the budget are then tabled in Cabinet.
  </p>

  <p>
    Once Cabinet has approved the recommendations, all institutions are informed of their budget allocations. Institutions then finalise their budgets accordingly and prepare and submit their data and narrative inputs for the ENE publications to the National Treasury.  National Treasury then verifies and edits these inputs to produce the ENE publications. The ENE is published in a number of formats (including in print and as an Excel pivot table). The ENE is tabled in Parliament annually as part of the national budget.
  </p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What can I do with the data?</div>
  <p>
    The ENE is released as part of the national budget information releases, at the end of February, before the start of the national/provincial budget cycle. The data and supporting documents are useful for:
  </p>

  <ul>
    <li>
      tracking how national government plans to spend its money over the medium- to long-term;
    </li>

    <li>
      tracking institutional measures of achievement of main goals;
    </li>

    <li>
      tracking whether historical performance has been in line with the achievement of main goals;
    </li>

    <li>
      comparing spending across different departments (votes);
    </li>

    <li>
      comparing past expenditure to planned expenditure; and
    </li>

    <li>
      analysing the breakdown of spending across a department / vote (by current payments versus payments for capital assets, transfers to other spheres and departments, etc).
    </li>
  </ul>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What data is available from vulekamali.gov.za?</div>

  <p>
    Vulekamali has annual ENE information for all national departments. The following are available for each department:
  </p>

  <ul>
    <li>
      The department’s chapter in the ENE, in PDF format. This contains programme personnel data tables and detailed information for all entities, as well as additional summary data tables on provincial and municipal conditional grants, public-private partnerships, donor funding, and expenditure at the level of site service delivery, where applicable.
    </li>

    <li>
      The formatted expenditure tables included in the ENE document, in Excel format.
    </li>

    <li>
      The raw data used to produce the expenditure tables in the ENE and Appropriation Bill, in CSV format and through the OpenSpending API (application programme interface).
    </li>
  </ul>

  <p>
    The detail pages for a department can be found under the Department Budgets link at the top of the website. You can also search vulekamali to find a department.
  </p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What data is available from vulekamali.gov.za?</div>

  <p>
    <strong>Note</strong>: The 2018 Budget vote for Basic Education (Vote 14) is used as an illustrative example for this section. It can be found by visiting the <a href="https://vulekamali.gov.za/2018-19/national/departments/basic-education">Basic Education budget page for 2018</a>.
  </p>

  <p>
    All the ENE documents (PDF, Excel, and CSV) include expenditure data using the following classifications:
  </p>

  <p>
    <strong>Expenditure over time</strong>: The budget data is presented over a seven-year period: three years of past expenditure, the current financial year and three years of projected expenditure. The three-year future budget refers to the next three years and is known as the medium-term expenditure framework (MTEF).
  </p>

  <p>
    For example, the 2018 ENE documents include the audited budget outcomes for the 2014/15, 2015/16, and 2016/17 financial years, the revised estimates for the 2017/18 financial year, and initial estimates for the 2018/19, 2019/20, and 2020/21 financial years.
  </p>

  <p>
    <strong>Expenditure by economic classification</strong>: This refers to the economic characteristics of the expenditure, including whether the expenditure happens directly in a national department, transferred to another sphere of government or to another party.
  </p>

  <p>
    There are up to four levels of economic classification for each expenditure item (i.e. Levels 1 to 4), with higher levels representing greater degrees of granularity. The Excel and CSV documents include all four levels while the PDF documents display the first two levels.
  </p>

  <p>
    The level 1 economic classification divides all expenditure into four main economic sections: current payments (payments made for operational requirements such as those for compensation of employees and goods and services); transfers and subsidies; payments for capital assets (assets that can be used for more than one year); and payments for financial assets (loans or equity investments in public corporations).
  </p>

  <p>
    <strong>Expenditure by programme and sub-programme</strong>: This refers to expenditure by department programmes, which align spending to activities, performance indicators and outcomes. Each programme has a particular purpose and spending objectives. Spending can be tracked to the programme and sub-programme level.
  </p>

  <p>
    <strong>Expenditure by government function</strong>: This aligns expenditure to one of seven government function groups. These groups can include spending across many government institutions, departments, and spheres. The function groups are also allocated to sections of the National Development Plan and medium-term strategic framework (MTSF) outcomes.
  </p>

  <p>
    For example, expenditure on Basic Education falls within the Learning and Culture function group, Chapters 3 and 9 of the NDP, and Outcome 5 of the MTSF. The Learning and Culture function group includes the Departments of Higher Education and Training, Sport and Recreation, and Art and Culture. It also includes the SETAs, NSFAS, and the National Skills Fund.
  </p>

  <div class="Title Title--interSection">Estimates of National Expenditure PDF Documents</div>

  <p>Each department’s PDF chapter can be found on Vulekamali on the department detail page. The PDF contains narrative information and summary tables of key expenditure items over the MTEF in the following sections:</p>

  <ul>
    <li>A top-level summary of estimated expenditure over the MTEF by programme.</li>
    <li>Selected Performance indicators linked to outcomes.</li>

    <li>
      A narrative discussion outlining what an institution aims to achieve over the medium term and how it plans to spend its budget in support of this. For example, one performance indicator in the Education Enrichment Services programme is the number of schools provided with nutritious meals each school day. The expenditure analysis section confirms that the medium-term target is 19 800 schools and 9 million learners at a cost of R21.7-billion over the MTEF.
    </li>

    <li>
      A section on expenditure trends which measures the historical and projected increases in spending by programme and by economic classification (Levels 1 and 2) over the seven-year period. The average annual increase in expenditure is measured over the historical period (financial years 2014 to 2017) and the MTEF (2017 to 2020).
    </li>

    <li>
      This section also measures expenditure on significant spending items, goods and services (Economic Classification Level 2) and on transfers and subsidies (Economic Classification Level 3).
    </li>

    <li>
      A section on departmental receipts, showing how the department generates its own income through interest, sales of capital assets, financial transactions, and other activities.
    </li>

    <li>
      A description of each programme, including the programme’s purpose, objectives, and sub-programmes. There is an analysis of each programme’s expenditure trends in a series of tables, by economic classification (Levels 1 and 2), and by transfers and subsidies.
    </li>
  </ul>

  <div class="Title Title--interSection">
    Estimates of National Expenditure Excel Tables Document
  </div>

  <p>
    Excel versions of the tables included in the ENE PDF document can be found in Vulekamali’s department page for each department.
  </p>

  <p>
    The Excel spreadsheets are not machine-readable as the columns have not been formatted for building pivot tables. They do however allow the user to further edit the data and to perform simple calculations. They also provide some additional detailed information that is not included in either the PDF documents or the CSV data file.
  </p>

  <p>The spreadsheets include the following tables from the PDF documents:</p>

  <ul>
    <li>
      A budget summary for the MTEF by programme
    </li>

    <li>
      Historical expenditure trends by programme and economic classification (Level 2)
    </li>

    <li>
      Projected expenditure estimates by programme and economic classification (Level 2)
    </li>

    <li>
      Expenditure trends and estimates for significant spending items
    </li>

    <li>
      Expenditure trends and estimates for goods and services (economic classification Level 2)
    </li>

    <li>
      Expenditure trends and estimates for transfers and subsidies  (economic classification Level 3)
    </li>

    <li>
      Personnel numbers and their costs by salary level and programme
    </li>

    <li>
      Departmental receipts (economic classification Level 3)
    </li>

    <li>
      Expenditure trends and estimates for each programme, by sub-programme and economic classification (Level 2), and by transfers and subsidies (Level 3)
    </li>
  </ul>

  <p>In addition, they include tables for the following:</p>

  <ul>
    <li>
      Expenditure trends and estimates for conditional grants to provinces and municipalities, by grant.
    </li>

    <li>
      Expenditure trends and estimates for infrastructure spending, by project name and by transfer to other spheres, agencies, public-private partnerships, donor funding, and expenditure at the level of service delivery.
    </li>
  </ul>

  <div class="Title Title--interSection">
    Estimates of National Expenditure CSV Data File
  </div>

  <p>
    The CSV data file contains the raw data used to produce the ENE and expenditure tables and the Appropriation Bill. This file can imported into Excel or other analysis programmes for further analysis. The file contains the following fields
  </p>

  <ul>
    <li>
      <strong>Budget phase</strong>: This refers to which part of the budget cycle is referenced, whether it is an historical budget year or an estimate of future expenditure. It is closely related to the <strong>Financial Year</strong> field.
    </li>

    <li>
      <strong>Department</strong>: This refers to the government department where the expenditure occurs. It has a one-to-one (direct) relationship with the <strong>Vote Number</strong> field. There are 47 departments in the 2018 ENE.
    </li>

    <li>
      <strong>Economic Classification Levels 1 to 4</strong>: These four fields refer to the economic classification of the expenditure, with higher levels indicating a greater degree of disaggregation and granularity. The four main economic sections (Level 1) are current spending, transfers and subsidies, payments for financial assets, and payments for capital assets.
    </li>

    <li>
      <strong>Financial Year</strong>: This refers to the national / provincial financial year which begins on April 1 and ends on March 31 of the following calendar year. For example, the 2014 financial year began on 1 April 2014 and ended on 31 March 2015.  This field is closely related to the <strong>Budget Phase</strong> field.
    </li>

    <li>
      <strong>Government Function</strong>: This refers to one of the seven government function groups. It includes an eighth category for debt-service costs, which are an aggregate cost in the Department of National Treasury.
    </li>

    <li>
      <strong>Programme</strong> (and <strong>Programme Number</strong>): This refers to spending by government programme. Each department will have a number of programmes and sub-programmes that align the department’s objectives and performance indicators. The number of programmes varies by department but most have between four and eight programmes. <strong>Note</strong>: the <strong>Programme Number</strong> field refers to the order of the programme in a specific department. Programme orders are arbitrary (i.e. not ranked by expenditure or alphabetically) and are not consistent across departments.
    </li>

    <li>
      <strong>Sub-programme</strong> (and <strong>Sub-programme Number</strong>): This refers to spending by sub-programme. The <strong>Sub-programme Number</strong> field is similar to the <strong>Programme Number</strong> field as the sub-programme ordering is also arbitrary.
    </li>

    <li>
      <strong>Vote Number</strong>: This field refers to the ordering of Votes in the full ENE document. There is a one-to-one relationship with the <strong>Department</strong> field.
    </li>
  </ul>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Further reading and resources</div>

  <ul>
    <li>
      Estimates of National Expenditure Overview guide - The introductory chapter of the abridged ENE is a useful guide to understanding that year’s Budget and ENE process: <a target="_blank" rel="noopener noreferrer"  href="http://www.treasury.gov.za/documents/national%20budget/2018/enebooklets/Overview.pdf">http://www.treasury.gov.za/documents/national%20budget/2018/enebooklets/Overview.pdf</a>
    </li>

    <li>
      National Treasury’s main page for national budget information: <a target="_blank" rel="noopener noreferrer" href="http://www.treasury.gov.za/documents/national%20budget/default.aspx">http://www.treasury.gov.za/documents/national%20budget/default.aspx</a>
    </li>
  </ul>
</div>
