<h1 class="Page-mainHeading">Conditional Grant Frameworks and Allocations
</h1>

<div class="BasicContent u-marginBottom15">

    <p>
      This guide relates to:
    </p>

  <ul>
  <li>Frameworks for Conditional Grants (to  <a href="/datasets/frameworks-for-conditional-grants-to-provinces" target="_blank">provinces,</a> to <a href="/datasets/frameworks-for-conditional-grants-to-municipalities" target="_blank">municipalities</a>)
  </li>

  <li>Conditional Grant allocations in the <a href="/datasets/division-of-revenue-bills" target="_blank">Division of Revenue bills</a>
  </li>
  </ul>

  <p>
  Conditional grants have been used in South Africa to transfer funding to provinces and municipalities for the purpose of achieving particular national government policy objectives. This mechanism is especially important in South Africa, where the Constitution provides for equal access to basic public services, including health, education, water and welfare.
  </p>

  <p>
    In addition to the conditional grants they receive, local government and each province are also entitled to “an equitable share of revenue raised nationally”, according to Section 214(1) of the Constitution. Equitable shares are unconditional and  enable provinces and municipalities to provide the services and the functions allocated to them.
  </p>

  <p>
      The Conditional Grant Frameworks are published as annexures to the Division of Revenue Bill, and then gazetted once the act is signed into law. These frameworks set the rules for how the funds can be used and support the administration and oversight of conditional grants.
  </p>

  <p>
      Conditional Grant allocations to provinces and municipalities are enacted in the Division of Revenue Act.
  </p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Where does the data come from?</div>
    <p>
        Conditional grants are managed by national departments, which submit frameworks and allocations to National Treasury. Consultations are also held with other stakeholders; these include other national and provincial departments, the South African Local Government Association, NGOs, the office of the Auditor-General, and civil society organisations. Departmental ministers and MECs provide feedback from previous grant spending which informs changes to grant rules and allocations in subsequent years.
    </p>
    <p>
        Aside from the Constitution, which provides for equitable division of all revenue raised nationally, the annual Division of Revenue Bill contains information related to conditional grant allocations. This can be found in:
    </p>

  <ul>
      <li>
      Schedule 4 (allocations to supplement the funding of programmes or functions);
      </li>
      <li>
      Schedule 5 (specific-purpose allocations);
      </li>
      <li>
      Schedule 6 (allocations-in-kind for designated special programmes); and
      </li>
      <li>
      Schedule 7 (funds that are not allocated to specific provinces or municipalities, that may be released to fund an immediate response to a disaster or housing emergency).
      </li>
    </ul>
      <br/>
      <p>
      The Division of Revenue Bill includes the value of grants for the budget year and projected grants for the medium-term expenditure framework (MTEF) period.
      </p>
  </div>


<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What can I do with the data?</div>
    <p>
    Big announcements are made about national spending in the first quarter of each year. These include how the national budget will be spent, who can approve spending and how grants will be allocated in the coming budget year. With this information, you can:
    </p>
    <ul>
      <li>
      track the allocations of conditional grants to provinces;
      </li>
      <li>
         See what the rules are for how a grant should be spent;
      </li>
      <li>
          better understand the role of grant allocations to achieve national goals (i.e. in the NDP or SDBIP);
      </li>
      <li>
          monitor the performance outcomes of grant allocations (both qualitative and quantitative outcomes);
      </li>
      <li>
         track the historical trends of particular grants; and
      </li>
      <li>
         monitor the spending of past grants.
      </li>
    </ul>
   </div>

   <div class="BasicContent u-marginBottom15">
        <div class="BasicContent-title">What data is available from vulekamali.gov.za?</div>
      <p>
          Vulekamali makes information available for all provincial and municipal Conditional Grants. A copy of the gazetted frameworks, in PDF format, can be viewed and downloaded for free <a href="/datasets/frameworks-for-conditional-grants-to-provinces/">here</a>.
      </p>
      <p>
          The allocations of Conditional Grants are available in the annexes to the <a href="/datasets/division-of-revenue-bills" target="_blank"> Division of Revenue Bill.</a>
      </p>
   </div>

  <div class="BasicContent u-marginBottom15">
        <div class="BasicContent-title">What is in the data?
    </div>
        <p>
            The frameworks for all provincial <a href="/datasets/frameworks-for-conditional-grants-to-provinces" target="_blank"> Conditional Grants</a> can be found on vulekamali.gov.za under the <a href="/datasets" target="_blank"> Data and Analysis</a> tab.
        </p>
        <br/>
        <p>Each PDF contains the following sections:</p>
          <ul>
            <li>
              <b>Transferring department:</b> the national department that is transferring the money.
            </li>
            <li>
               <b>Grant schedule: </b> the designation of the grant in the Division of Revenue Bill.
            </li>
            <li>
              <b>Strategic goal: </b> a description of the planned long-term objective(s) of the grant.
            </li>
            <li>
              <b>Outcomes and outputs: </b> intended outcomes that the grant should achieve and the measurable targets that should result from the grant spending.
            </li>
            <li>
               <b>Priority outcome(s) of government: </b> this refers to the MTSF outcomes affected by the grant spending.
            </li>
            <li>
                <b>Conditions: </b> these are the conditions which the province(s) must fulfil when they spend the grant.
            </li>
            <li>
                <b>Allocation criteria: </b> these are the formula(e) or other determinants that are used to make allocations, as well as the source(s) for these determinants.
            </li>
            <li>
                <b>Reasons for funding through a conditional grant: </b> a list of circumstances or conditions that make it necessary to separate a particular grant from general allocations.
            </li>
            <li>
                <b>Past performance: </b> a description of the grant activity in the previous financial year. This is split into two sections:
                <ul>
                  <li>
                    previous <b>audited financial outcomes</b> which describes how much of previous grant allocations were transferred by national government and spent by the relevant department; and
                  </li>
                  <li>
                    previous <b>service delivery performance</b> which summarises the performance indicators that were achieved (e.g. schools built, delivery of support materials, etc).
                  </li>
                </ul>
            </li>
            <li>
                <b>Projected life: </b> confirmation of whether the grant has a fixed term or is to be renewed annually. This section may also list the factors that must be considered when making this decision.
            </li>
             <li>
                <b>Medium Term Expenditure Framework (MTEF) allocations: </b> a summary of the value of the grant for the three years of the MTEF.
            </li>
             <li>
                <b>Payment schedule: </b> a description of the number of grant payments and the dates on which they are to be paid.
            </li>
             <li>
                <b>Responsibilities of the transferring officer and the receiving officer: </b> a list of the tasks and duties for the administration of the conditional grant for both the transferring (national) and receiving (provincial) officers. It also will provide deadlines and dates for the completion of some of the responsibilities.
            </li>
            <li>
                <b>Process for the approval of business plans:</b>
            </li>
