
<h1 class="Page-mainHeading">Adjusted Estimates of National Expenditure</h1>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Overview</div>
  <p>
    This guide relates to:
  </p>

<ul>
<li>the structured adjusted estimates of expenditure data in CSV form</li>
<li>the AENE PDF documents on each department page, and the accompanying Excel file with the document’s tables</li>
</ul>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What is the adjustments budget?
</div>

<p>
In the middle of each financial year, the adjustments process provides an opportunity to make permissible revisions to the budget, in response to changes that have affected the planned government spending for that year. The adjusted budget may allocate unused funds, mainly from the contingency reserve, and additional amounts that have been approved for particular types of spending, if that be the case. 
</p>

<p>
The adjusted budget estimates are tabled in the National Assembly by the Minister of Finance, accompanied by an Adjustments Appropriation Bill. The permissible adjustments are reflected as part of the adjusted budget, which also includes the amounts initially allocated in the Appropriation Act and in any subsequent special appropriations. A Division of Revenue Amendment Bill that sets out how the adjustments affect the Division of Revenue Act is also tabled.
</p>

<p>
The Adjusted Estimates of National Expenditure (AENE) describes in detail the revisions to spending plans for the first year of the MTEF period: the current financial year. It also includes revised spending and departmental revenue projections for the current financial year, and any revisions to performance projections emanating from the technical financial amendments tabled in the AENE, if that be the case. 
</p>

<p>
The aim of the AENE publication is to provide: detailed information on technical adjustments; and actual receipts, expenditure and performance achievements for the first six months of the current financial year. 
</p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Where does the data come from?
</div>

<p>
The datasets for each of these adjustments emanates from yearly national government adjustment budget processes. At the beginning of each adjustment budget process, the National Treasury sends guidance to departments depicting the information that they are expected to submit to the National Treasury should they be applying for an adjustment to their budget. The National Treasury’s Senior Management Committee examines the requests in line with the criteria for each type of adjustment, set out in legislation and the Treasury Regulations, and then forms recommendations to the Minister of Finance, and to the Ministers Committee on the Budget in the case of requests for unforeseeable and unavoidable expenditure.
</p>

<p>
Departments are then sent letters informing them of any approved adjustments to budget allocations. Institutions then prepare and submit their data and narrative inputs in line with the Adjusted Estimates of National Expenditure Guidelines to the National Treasury for the AENE publication.  National Treasury then verifies and edits these inputs to produce the AENE publication. The AENE is published in a number of formats (including in print and as an Excel pivot table). The AENE is tabled in Parliament annually as part of the national adjustments budget. 
</p>

<p>
Section 30(2) of the Public Finance Management Act (1999) (PFMA) specifies the type of spending permissible as an adjustment that the adjusted budget may provide for. Section 76 of the Treasury Regulations, issued by National Treasury in terms of the PFMA provide instructions on how to comply with the Act.
</p>

<p>The adjustments appropriation makes provision for:
</p>

<ul>
<li>
<b>Adjustments due to significant and unforeseeable economic and financial events</b>: When unforeseeable economic and financial events affect the fiscal targets set by the budget, adjustments might need to be made. An example of such an event is inflation that is significantly higher than anticipated in the budget estimates projected for the MTEF period. 
</li>
<li>
<b>Unforeseeable and unavoidable expenditure</b>: This is expenditure that could not be anticipated at the time of the budget. Section 6.6 of the Treasury Regulations specify that the following may not be regarded as unforeseeable and unavoidable expenditure: spending that was known when the budget was being finalised but could not be accommodated in the allocations at the time; spending increases due to tariff adjustments and price increases; and spending to extend existing services or create new services that are not unforeseeable and unavoidable. An example of unforeseeable and unavoidable expenditure is spending made necessary to deal with the effects of adverse weather conditions. 
</li>
<li>
<b>Section 16 of the PFMA</b>: The Minister of Finance may approve the use of unappropriated funds if it is for spending of an exceptional nature. This happens if postponing the spending to a future parliamentary appropriation would seriously prejudice the public interest. The Minister of Finance must subsequently provide a report to Parliament and to the Auditor-General.
</li>

<li>
<b>Appropriation of expenditure earmarked in the budget speech for future allocation</b>: In certain instances, an amount to be allocated for a specific purpose will be announced by the Minister of Finance when the budget is tabled, with the details of the annual allocations to be decided later. This is usually when plans have not been finalised in time to decide on the specific allocation amounts for the budget.

</li>

<li>
<b>Virements</b>: The use of unspent funds from amounts appropriated under one main division (programme) to defray excess expenditure under another main division (programme) within the same vote/department. Legislation (Section 43 of the PFMA, section 5 of the Appropriation Act (2018) and section 5 of the Adjustments Appropriation Bill (2018) and Section 6.3 of the Treasury Regulations set the parameters within which virements may take place.
</li>

<li>
<b>Shifts within votes/departments</b>: The use of unspent funds to defray increased expenditure within a main division (programme) of a vote/department by shifting funds between different segments (sub programmes and economic classification) of the main division (programme). Shifts may include the reallocation of funds incorrectly allocated in the ENE process or to follow the transfer of functions across programmes. 
</li>

<li>
<b>Shifts between votes/departments</b>: Sections 42 and 33 of the PFMA describe the use of unspent funds in a vote to defray increased expenditure in another vote/department. Such shifts include functions being shifted to another vote or institution in terms of legislation and/or following the reassignment of responsibility for the functions. The associated assets, including personnel, and the liabilities also need to be shifted.
</li>

<li>
<b>Roll-overs</b>: Unspent funds from the previous financial year may be rolled over into the current financial year, when activities planned to be completed by the end of the previous year have not been completed but are close to completion. Section 6.4 of the Treasury Regulations restrict roll-overs as follows: compensation of employees funding may not be rolled over; a maximum of 5 per cent of a department’s budget for goods and services may be rolled over; funding for transfers and subsidies may not be rolled over for any purpose other than what the funds were originally allocated for; and unspent funds on payments for capital assets may be rolled over only to finalise projects or the acquisition of assets already in progress.
</li>

<li>
<b>Self-financing expenditure</b>: Spending financed from revenue derived from a vote’s/department’s specific activities. This revenue is paid into the National Revenue Fund. If self-financing expenditure is approved, these funds are allocated to the vote/department.
</li>

<li>
<b>Declared unspent funds</b>: Unspent amounts that will not be spent in the current financial year, explicitly indicated as a reduction to the vote allocation.
</li>

<li>
<b>Direct charges against the National Revenue Fund</b>: An amount spent in terms of a statute and that is not budgeted for in any programme in a particular vote. These amounts are shown as separate items, such as expenditure on debt-service costs.
</li>

<li>
<b>Gifts, donations and sponsorships (Treasury Regulation 21)</b>: Cash amounts exceeding R100 000 per beneficiary are included in the Adjustments Appropriation Bill.
</li>
</ul>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What can I do with the data?</div>

<p>
The AENE is released as part of the national adjustments budget information release, at the end of October. It sets out the adjustments to the budget for the current financial year and also reviews departmental performance, receipt and expenditure information for the first half of the year (April to September).
</p>

<p>The structured data supports</p>

<ul>
<li>analysing the changes in departmental budgets</li>
</ul>
<p>The supporting AENE PDF documents are useful for:</p>
<ul>
<li>analysing the changes in departmental budgets; </li>
<li>tracking how national departments have spent money in the first half of the year ;</li>
<li>tracking an institution’s (department’s) measures of achievement of its main goals (performance information);</li>
<li>tracking an institution’s historical performance with respect to achieving its main goals;</li>
<li>comparing actual receipts and expenditure in the first half of the year to budgeted receipts and expenditure;</li>
<li>comparing actual performance achievements in the first six months to budgeted achievements; and </li>
<li>tracking any adjustments to receipts and expenditure estimates as well as performance indicators for the year.</li>
</ul>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What data is available from vulekamali.gov.za?</div>

  <p>Vulekamali has annual AENE information for all national departments. The following are available for each department:</p>

  <li>The department’s chapter in the AENE, in PDF format;</li>
    <li>Excel spreadsheets with the tables in the AENE chapters</li>
  <li>The raw data used to produce the expenditure tables in the AENE and Adjustments Appropriation Bill, in CSV format and through the OpenSpending API (application programing interface).The detail pages for a department can be found under the Department Budgets link at the top of the website. You can also search Vulekamali to find a department based on a topic of interest.</li>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What is in the data?</div>

  <p><b>Note</b>: The 2018 Adjusted Estimates of National Expenditure vote for Basic Education (Vote 14) is used as an illustrative example for this section. It can be found <a href="http://www.treasury.gov.za/documents/mtbps/2018/aene/Vote%2014%20Basic%20Education.pdf" target="_blank">here.</a>
</p>

<p>All the AENE documents (PDF, Excel, and CSV) include expenditure adjustments data using the following classifications:</p>

  <p>
  <b>Adjustments by vote (department)</b>: This refers to the national government department. This classification is implicit in the individual PDF files which by their nature refer to just one vote.

  </p>

  <p>
  <b>Adjustments by economic classification</b>: This refers to the economic characteristics of the adjustment. There are up to five levels of economic classification for each adjustment item (i.e. Levels 1 to 5), with higher levels representing greater degrees of granularity. The CSV document include all five levels while the PDF documents display the first two levels.
  </p>

  <p>The level 1 economic classification divides all expenditure into four main economic sections: current payments (payments made for operational requirements such as those for compensation of employees and goods and services); transfers and subsidies; payments for capital assets (assets that can be used for more than one year); and payments for financial assets (loans or equity investments in public corporations). </p>

  <p>
  <b> Adjustments by programme and sub-programme</b>: This refers to adjustments by department programmes, which align spending to activities. Adjustments can be tracked to the programme and sub-programme level. 
  </p>

  <p>
  <b>Adjustments by type of appropriation</b>: This refers to whether the expenditure was the original budgeted amount (main appropriation), whether it is part of a special appropriation, an adjustments appropriation, or whether it is the final adjusted budget (adjusted appropriation). The adjustments appropriations are subdivided into roll-overs, unforeseeable / unavoidable expenditure, virements and shifts, declared unspent funds, or other adjustments.
  </p>

  <p>
  <b>
  Adjusted Estimates of National Expenditure PDF Documents
Each department’s PDF chapter can be found on Vulekamali on the department detail page. The PDF contains a detailed narrative of departmental spending and achievements in the first six months of the year, and adjustments to the budget for the rest of the year. The chapters contain the following sections:</b>
  </p>

<ul>
<li>An adjusted budget summary, by economic classification (Level 1)</li>
<li>Vote purpose</li>
<li>A mid-year performance status, summarising the progress on the achievement of performance targets set in that year’s ENE. This section includes a table of relevant performance indicators with initial ENE targets, actual outcomes for the first six months, and any changes to the initial targets. There is also a summary narrative that provides explanations and context for the outcomes and changes to performance targets.</li>
<li>A set of summary tables of adjustments, by programme and economic classification (to Level 2/3), and type of adjustment.</li>
<li>A summary narrative on the different adjustment categories (roll-overs, unforeseeable and unavoidable expenditure, virements and shifts, declared unspent funds, other adjustments). The section on virements and shifts provides extensive detail on how expenditure is reallocated within a programme (a shift) or moved to another programme (a virement).</li>
<li>A table comparing the expenditure outcome of the previous year with the actual expenditure for the first half of the budget year, and a summary of expenditure trends year on year, comparing expenditure in the first six months of each year.</li>
<li>A table comparing the departmental receipts outcome of the previous year with the actual receipts for the first half of the budget year, and a summary of revenue trends year on year, comparing revenue in the first six months of each year.</li>
<li>A table summarising the changes to transfers and subsidies by type of adjustment, programme and economic classification.</li>
<li>A table summarising the changes to conditional grants to provinces by programme and type of adjustment.</li>
<li>A table summarising the changes to conditions grants to local government by programme and type of adjustment.</li>
</ul>

<b>Adjusted Estimates of National Expenditure CSV Data File
</b>

<p>The CSV data file contains the raw data used to produce the AENE adjustment tables. This file can imported into Excel or other analysis programmes for further analysis. The file contains the following fields:</p>

<ul>
<li>
<b>Department</b>: This refers to which department is affected by the adjustment.
</li>

<li>
<b>Programme</b> (and <b>Programme Number</b>): This refers to adjustments by government programme. Each department will have programmes and sub-programmes that align the department’s objectives and performance indicators. The number of programmes varies by department but most have between four and eight programmes. <b>Note</b>: the <b>Programme Number</b> field refers to the order of the programme in a specific department. Programme orders are arbitrary (i.e. not ranked by expenditure or alphabetically) and are not consistent across departments. 
</li>

<li>
<b>Sub-programme</b> (and <b>Sub-programme Number</b>): This refers to adjustments by sub-programme. The <b>Sub-programme Number</b> field is similar to the <b>Programme Number</b> field as the sub-programme ordering is also arbitrary.
</li>

<li>
<b>Economic Classification Levels 1 to 5</b>: These four fields refer to the economic classification of the adjustment, with higher levels indicating a greater degree of disaggregation and granularity. The four main economic sections (Level 1) are current spending, transfers and subsidies, payments for financial assets, and payments for capital assets.
</li>

<li>
<b>Financial Year</b>: This refers to the current budget year. This field only has one value
</li>

<li>
<b>Budget phase</b>: This refers to which part of the budget cycle is referenced, whether it is an historical budget year or an estimate of future expenditure. It is closely related to the Financial Year field.
</li>

<li>
<b>Description</b>: This refers to the type of adjustment (e.g. roll-overs, virements and shifts) and includes totals, special appropriations and initial ENE budget figures
</li>

<li>
<b>Value</b>: This refers to the rand value of the adjustment
</li>
</ul>
  </div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Further reading and resources</div>

  <ul>
  <li>
  Adjusted Estimates of National Expenditure - full PDF document for 2018 MTBPS votes - 
  <a href="http://www.treasury.gov.za/documents/mtbps/2018/aene/FullAENE.pdf " target="_blank">http://www.treasury.gov.za/documents/mtbps/2018/aene/FullAENE.pdf</a>
  </li>

  <li>
  National Treasury’s main page for national budget information: <a href="http://www.treasury.gov.za/documents/national%20budget/default.aspx" target="_blank">http://www.treasury.gov.za/documents/national%20budget/default.aspx</a>
  </li>
  </ul>

</div>
