
<h1 class="Page-mainHeading">Dataset Guide: Estimates of Provincial Revenue and Expenditure</h1>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Overview</div>
  <p>
    The Estimates of Provincial Revenue and Expenditure (EPRE) is considered a summary of the departmental Strategic and Performance Plan to a level at which the legislature and the public can engage the provincial departments. It further contains a detailed analysis of departmental receipt and payment performance; covering infrastructure payments; transfers to public entities and local government; personnel numbers and costs; and payments on training. It also provides departments with an opportunity to analyse the various trends and provide a narrative thereto.
  </p>

  <p>
    One of the key aims of the EPRE is to provide a minimum set of information on receipts, payments, budget and programme structures together with departmental objectives and service delivery measures up to a sub-programme level.
  </p>

  <p>
    From 2018 onwards, the development of the EPRE has created a standardised budget and programme structure and definitions for the main departmental budgets. Fourteen sectors have agreed upon uniform budget and programme structures, which apart from the Social Services Sectors (Education, Health and Social Development) include: Agriculture; Environmental Affairs; Human Settlements; Cooperative Governance and Traditional Affairs; Public Works; Economic Development; Office of the Premier; Transport; Sport, Arts and Culture; Provincial Legislatures; Tourism and Provincial Treasuries.
  </p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Where does the data come from?</div>

  <p>
    The budget process that produces an EPRE is a collaboration that includes National Treasury, Provincial Treasuries, Sector Budget meetings, Technical Committees on Finance, Budget councils, Ministers’ Committees on Budget, Provincial Cabinet management committees, executive councils, provincial departments and public entities. The planning for the following year’s provincial budget starts very shortly after the current year’s budget is presented, and includes budget reviews and stakeholder consultation.
  </p>

  <p>
    National Treasury has provided a standardised data entry format and budget guidelines for the provinces. The estimation of revenue and expenditure present a valuable research resource and give effect to relevant legislation, which include amongst others the Constitution, Public Finance Management Act and the Right to Access of Information Act. It is for this reason that uniform budget documents are a prerequisite.
  </p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What can I do with the data?</div>

  <p>
    The EPREs are normally released in early March within weeks of the publication of the national Budget. The provincial financial year, like the national financial year, starts on April 1 and ends on March 30 of the following year.
  </p>

  <p>
    The EPRE documents and data can be used to
  </p>

  <ul>
    <li>
      track provincial expenditure by department, economic classification and programme/sub-programme;
    </li>

    <li>
      understand a department’s core functions and responsibilities, services, and links to prescribed outcomes;
    </li>

    <li>
      track provincial department receipts from national government and internal receipts collection;
    </li>

    <li>
      track infrastructure payments, public-private partnership (PPP) projects, and transfers;
    </li>

    <li>
      track a provincial department’s expenditure and achievements at the programme and sub-programme level, including service delivery measures, personnel numbers and costs,  and training and skills development; and
    </li>

    <li>
      reconcile changes in expenditure due to departmental restructuring, whether between programmes in a department or departments that share programmes.
    </li>
  </ul>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What data is available from vulekamali.gov.za?</div>

  <p>
    Vulekamali has annual EPRE information for all provincial departments. The following are available:
  </p>

  <ul>
    <li>
      Each department’s vote in the EPRE, each in PDF format;
    </li>

    <li>
      Estimates of provincial expenditure for all provinces, in Excel spreadsheet, CSV format, and via the OpenSpending API
    </li>
  </ul>

  <p>
    The detail pages for a department can be found under the Department Budgets link at the top of the website. You can also search vulekamali to find a department.
  </p>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">What data is available from vulekamali.gov.za?</div>

  <p>
    The EPRE documents (PDF, Excel, and CSV) include provincial expenditure data using the following classifications:
  </p>

  <p>
    <strong>Expenditure by province and expenditure by vote (department)</strong>: This refers to the province and the provincial government department. This classification is implicit in the individual PDF files which by their nature refer to just one province and to one vote.
  </p>

  <p>
    Historically the provinces have used different systems to classify their departments. Some departments (e.g. Provincial Treasury, Education, Health) have had a greater degree of standardisation than others. This should be considered when comparing expenditure before 2018/19.
  </p>

  <p>
    <strong>Expenditure by financial year and by budget phase</strong>: This refers to the financial year of the expenditure and the position of that year in the current budget cycle. Expenditure for the years prior to the current budget year will be presented as an audited outcome, expenditure for future years will be presented as a medium term estimate, and so on.
  </p>

  <p>
    The level 1 economic classification divides all expenditure into four main economic sections: current payments (payments made for operational requirements such as those for compensation of employees and goods and services); transfers and subsidies; payments for capital assets (assets that can be used for more than one year); and payments for financial assets (loans or equity investments in public corporations).
  </p>

  <p>
    <strong>Expenditure by programme and sub-programme</strong>: This refers to expenditure by provincial department programmes, which align spending to activities. Expenditure can be tracked to the programme and sub-programme level.
  </p>

  <p>
    <strong>Expenditure by value</strong>: This refers to the rand value of the expenditure. Some expenditure items (e.g. adjustments) may overlap or duplicate others, and care should be taken when analysing aggregate expenditures.
  </p>

  <div class="Title Title--interSection">
    Estimates of Provincial Revenue and Expenditure PDF Documents
  </div>

  <p>
    Each provincial department’s PDF chapter can be found on Vulekamali on the department detail page. The PDF contains a detailed narrative for each provincial department.
  </p>

  <p>
    The chapters contain the following sections:
  </p>

  <ul>
    <li>
      <ul>
         An overview of each department, including

        <li>
          a description of core functions and responsibilities, as well as vision and mission statements;
        </li>

        <li>
          services the department intends to deliver, with details of the quantity and quality of services;
        </li>

        <li>
          an analysis of the demands for and expected change in the services, and available resources;
        </li>

        <li>
          the Acts, rules and regulations the department must consider;
        </li>

        <li>
          information on external activities and events relevant to budget decisions; and
        </li>

        <li>
          a short narrative to illustrate significant achievements towards the realisation of the 14 outcomes identified by the Presidency in the Medium Term Strategic Framework (MTSF), and highlights of how the department will re-prioritise their activities and align their budgets to contribution to these outcomes.
        </li>
      </ul>
    </li>

    <li>
      A review of the current financial year, reporting on the implementation of new policy priorities, main events, and challenges from the past.
    </li>

    <li>
      An outlook for the coming financial year, highlighting the department’s key focus areas for the coming year, particularly new policy priorities, significant events and challenges.
    </li>

    <li>
      A narrative on reprioritisation: how the department was able to reprioritise funds to augment allocations toward national and provincial priorities and core spending activities.
    </li>

    <li>
      A high level summary of planned major procurement for the upcoming budget year, including initiatives to improve supply chain management and deal with capacity deficiencies.
    </li>

    <li>
      A section on receipts and financing which includes

      <ul>
        <li>
          a summary of receipts from national government in the form of the equitable share and conditional grants;
        </li>

        <li>
          a summary of receipts collected, or revenue generated by the department itself; and
        </li>

        <li>
          donor funding.
        </li>
      </ul>
    </li>

    <li>
      A section on payment by the department, including

      <ul>
        <li>
          key assumptions on salaries, wages and inflation-related items;
        </li>

        <li>
          a summary of payments by programme;
        </li>

        <li>
          a summary of payments by economic classification (to Level 4);
        </li>

        <li>
          infrastructure payments;
        </li>

        <li>
          departmental public-private partnership (PPP) projects; and
        </li>

        <li>
          transfers to public entities, other entities, and local government.
        </li>
      </ul>
    </li>

    <li>
      A section on receipts and retentions.
    </li>

    <li>
      A detailed description of each programme within the provincial department, including

      <ul>
        <li>
          a description of the programme and its objectives;
        </li>

        <li>
          an expenditure analysis discussing the programme’s primary focus areas;
        </li>

        <li>
          service delivery measures, which could include performance indicators;
        </li>

        <li>
          personnel numbers and costs;
        </li>

        <li>
          training and other skills development; and
        </li>

        <li>
          reconciliation of structural changes between programmes and departments.
        </li>
      </ul>
    </li>
  </ul>

  <div class="Title Title--interSection">
    Estimates of Provincial Revenue and Expenditure Excel and CSV Documents
  </div>

  <p>
    There are two datasets for provincial department expenditure on Vulekamali. The dataset for expenditure by economic classification is available as an Excel sheet and in CSV form, while the dataset for expenditure by programme and sub-programme is available in CSV form.
  </p>

  <p>
    Expenditure data by economic classification is available for seven years, including the two outer years of the MTEF. Expenditure by programme and sub-programme is available for three years. The fields affected by this are the <strong>Financial Year</strong> and the <strong>Budget Phase</strong> fields.
  </p>

  <p>
    The following fields are common to the two datasets:
  </p>

  <ul>
    <li>The <strong>Government</strong> field refers to the province</li>
    <li>The <strong>Department</strong> field refers to the provincial department</li>
    <li>
      The <strong>Financial Year</strong> field refers to the year when the expenditure occurs
    </li>
    <li>The <strong>Budget Phase</strong> field refers to the phase in the seven-year budget cycle</li>
    <li>
      The <strong>Programme</strong> field refers to the programme in the provincial department
    </li>
    <li>
      The <strong>Value</strong> field refers to the rand value of the adjustment. This field includes totals and aggregates
    </li>
  </ul>

  <p>
    The dataset for expenditure by economic classification includes the following fields:
  </p>

  <ul>
    <li>
      The <strong>Economic Classification 1</strong>, <strong>Economic Classification 2</strong>, <strong>Economic Classification 3</strong>, and <strong>Economic Classification 4</strong> fields refer to the economic classification of the expenditure, at different levels of detail and disaggregation
    </li>

    <li>
      The <strong>Programme Number</strong> field refers to the order of the programme in a specific department. Programme orders are arbitrary (i.e. not ranked by expenditure or alphabetically) and are not consistent across departments.
    </li>
  </ul>
</div>

<div class="BasicContent u-marginBottom15">
  <div class="BasicContent-title">Further reading and resources</div>

  <p>
    You can visit <a target="_blank" rel="noopener noreferrer" href="http://www.treasury.gov.za/documents/provincial%20budget/default.aspx">the Estimates of Provincial Revenue and Expenditure</a> - National Treasury’s main page for provincial budget information.
  </p>

</div>