{% extends 'page-shell.html' %}
{% load define_action %}

{% block page_content %}

    <div class="Page-content">
        <div class="Page-contentInner Page-contentInner--floatingLinks">
            <div class="Section is-invisible">
                <a href="/">vulekamali</a>
                <span> / </span>
                <a href="/videos">Learning Resources</a>
                <span> / </span>
                <a href="/guides">Dataset Guides</a>
                <span> / {{ name }}</span>
            </div>

            {% include content_template %}
        </div>
{% endblock %}
