{% extends 'page-shell.html' %}

{% assign site.data.dataset as page_data %}

{% assign site.data.videos.data.1 as video_1 %}
{% assign site.data.videos.data.2 as video_2 %}
{% assign site.data.videos.data.3 as video_3 %}

<div class="Page-content u-paddingTop0">
    <div data-webapp="homepage-hero">
        {% include 'connections/homepage-hero/index.html' %}
    </div>

    <div id="national-treemap" class="national-treemap" data-webapp="consolidated-treemap"></div>
    <div id="national-treemap" class="national-treemap" data-webapp="national-treemap"></div>
    <div id="provincial-treemap" class="national-treemap" data-webapp="provincial-treemap"></div>
    <div data-webapp="resources-homepage"></div>

    {% with video_1=video_1 video_2=video_2 video_3=video_3 events_list=site.data.events.upcoming %}

        {% include 'scenes/homepage/VideoSection/index.html' %}

        {% if events_list %}
            {% include 'scenes/homepage/EventSection/index.html' %}
        {% endif %}

        {% include 'scenes/homepage/AboutSection/index.html' %}

    {% endwith %}
</div>
