{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="Title">{% trans "Welcome to vulekamali" %}</h1>

<div class="Card u-marginAuto u-marginBottom20">
  <div class="Card-content">
    <p>Welcome to vulekamali accounts portal.</p>

    <a href="https://discussions.vulekamali.gov.za" class="Button u-marginTop20 u-marginBottom20">Continue to vulekamali Discussions</a>

    <a href="https://data.vulekamali.gov.za" class="Button u-marginTop20 u-marginBottom20">Continue to vulekamali Datastore</a>

    <a href="https://vulekamali.gov.za" class="Button u-marginTop20 u-marginBottom20">Continue to vulekamali</a>

    <a href="/accounts/logout" class="Button u-marginTop20 u-marginBottom20">Sign out</a>

</div>

{% endblock %}
