{% extends 'base.html' %}
{% load define_action %}

{% block content %}
  {% assign "infrastructure-projects" as hardcoded_infrastructure %}
  {% if page.financial_year %}

    {% if page.sphere %}

      {% if page.sphere == "national" %}
        {% assign site.data|hash:page.financial_year|hash:page.sphere|hash:"departments"|hash:page.data_key as page_data %}
      {% else %}
        {% assign site.data|hash:page.financial_year|hash:page.sphere|hash:page.geographic_region_slug|hash:"departments"|hash:page.data_key as page_data %}
      {% endif %}

    {% else %}
      {% assign site.data|hash:page.financial_year|hash:page.data_key as page_data %}
    {% endif %}

  {% elif page.layout == 'contributed_dataset' %}
    {% assign site.data.datasets.contributed|hash:page.data_key as page_data %}

  {% elif page.layout == 'government_dataset' %}
    {% assign site.data.dataset as page_data %}

  {% elif page.layout == 'government_dataset_category' %}
    {% assign site.data.dataset as page_data %}

  {% elif page.layout == 'contributed-data' %}
    {% assign site.data.datasets.contributed.index as page_data %}

  {% elif page.layout == 'dataset_landing_page' %}
    {% assign site.data.datasets.index as page_data %}

  {% elif page.layout == 'guides' or page.layout == 'guide_item' %}
    {% assign site.data.guides|hash:page.data_key as page_data %}

  {% elif page.layout == 'infrastructure_project_list' %}
    {% assign site.data|hash:hardcoded_infrastructure|hash:"index" as page_data %}

  {% elif page.layout == 'infrastructure_project' %}
    {% assign site.data|hash:hardcoded_infrastructure|hash:"index" as page_data %}
  {% else %}
    {% assign site.data|hash:page.data_key as page_data %}
  {% endif %}

  <div data-create-component="Modals"></div>
  <div class="Page">
    <header class="Page-head">
      {% with items=site.data.navbar.array selected_tab=page_data.selected_tab latest_year=site.latest_year year=page.financial_year selected_sidebar=page_data.selected_sidebar%}
        {% include 'components/header-and-footer/HeaderBar/index.html' %}
      {% endwith %}

      {% if page.financial_year %}
        {% include 'components/header-and-footer/YearSelect/index.html' with years=page_data.financial_years %}
      {% endif %}
    </header>
    <div class="Page-contentWrap">
      {% block page_content %}
      {% endblock %}
    </div>
    <footer class="Page-footer">
      {% include 'components/header-and-footer/Footer/index.html' with year=page.financial_year %}
      {% include 'components/header-and-footer/ExtraFooter/index.html' %}
    </footer>
  </div>
{% endblock %}