{% extends 'base.html' %}
{% load define_action %}

{% block content %}
    <div data-create-component="Modals"></div>
    <div class="Page">
        <header class="Page-head">
            {% with items=navbar selected_tab=selected_tab latest_year=latest_year year=selected_financial_year selected_sidebar=selected_sidebar %}
                {% include 'components/header-and-footer/HeaderBar/index.html' %}
            {% endwith %}

        </header>
        <div class="Page-contentWrap">
            {% block page_content %}
            {% endblock %}
        </div>
        <footer class="Page-footer">
            {% include 'components/header-and-footer/Footer/index.html' with year=selected_financial_year %}
            {% include 'components/header-and-footer/ExtraFooter/index.html' %}
            {% if admin_url %}
            <a class="u-padding10" style="position: absolute; right: 0px;" href="{{ admin_url }}">Edit page</a>
            {% endif %}
        </footer>
    </div>
{% endblock %}
