{% extends 'page-shell.html' %}
{% block page_content %}
<div class="Page-content">
  <main class="Page-contentInner">
    <h1 class="Page-mainHeading">Terms of Use</h1>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">Overview</h2>
        <p>The Vulekamali Data Portal, contains national and provincial budget data from National Treasury (NT) and related data contributed by third parties.</p>
        <p>Users are encouraged to utilise this data to leverage public participation in policy making and governance, to create value for developers, businesses, researchers,  civil society and the public at large.</p>
        <p>Subject to certain limitations summarized below, you are free to use the data on this portal and published through our APIs (Application Programming Interface) freely and flexibly, for both commercial and non-commercial purposes, at no cost.</p>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">1. Introduction</h2>
        <p>These Terms of Use manage the relationship between you (the user of this portal) and National Treasury (the portal owner) when you use the portal or the services this website provides. You may not use this website or any data obtained from it, if you do not agree to be legally bound by these Terms of Use, and any other terms or policies on this portal.</p>
        <p>You are encouraged to use and re-use the data that is available on this portal and published through our APIs freely and flexibly, subject to the conditions set out in these Terms of Use.</p>
        <p>Users are encouraged to utilise this data to leverage public participation in policy making and governance, to create value for developers, business, researchers, civil society and the public at large.</p>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">2. Usage of data</h2>
        <p>This portal contains data published by National Treasury (NT) as well as data owned and contributed by third parties.</p>

        <h3>2.1 Usage of data published by National Treasury</h3>
        <p>You may use, download, copy, publish, distribute and transmit the data published by NT and obtained from this portal and API freely and flexibly, including for commercial and non-commercial purposes, subject to the following conditions. You must:</p>
        <ol>
          <li>Acknowledge and reference the source of the data as National Treasury and the date of publication.</li>
          <li>Note how the data has been modified in your representation(s) thereof.</li>
          <li>Ensure that the data is not used to mislead others.</li>
          <li>Ensure that the use of the data does not affect the level of protection of individuals and their personal information provided for in applicable legislation.</li>
          <li>Not use the portal or the data in an unlawful way or to commit unlawful acts including committing a criminal offence, gaining unauthorised access to other computer systems and/or transmitting unlawful material.</li>
          <li>Not claim or imply that NT endorses your products, services, analysis or interpretation of the data.</li>
          <li>Adhere to all sections of this Terms of Use policy.</li>
        </ol>

        <h3>2.2 Usage of data contributed by third parties</h3>
        <p>This website contains data owned and contributed by third parties. You may use, download, copy, publish, distribute and transmit this third party data, subject to the following conditions. You must:</p>
        <ol>
          <li>Acknowledge and reference the source of the data as the name of the contributor, the date of publication, the location where the source data was downloaded as National Treasury and the date that the data was accessed.</li>
          <li>Note how the data has been modified in your representation(s) thereof.</li>
          <li>Abide by the terms of the licence under which the contributed data is published.</li>
          <li>Ensure that the data is not used to mislead others.</li>
          <li>Ensure that the use of the data does not affect the level of protection of individuals and their personal information provided for in applicable legislation.</li>
          <li>Not use the website or the data in an unlawful way or to commit unlawful acts including committing a criminal offence, gaining unauthorised access to other computer systems or transmitting unlawful material.</li>
          <li>Not claim or imply that NT endorses your products, services, analysis or interpretation of the data.</li>
          <li>Adhere to all sections of this Terms of Use policy.</li>
        </ol>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">3. Usage and Intellectual Property</h2>
        <ol>
          <li>The trademarks and logos on this portal are not subject to the usage terms in the section above. These remain the property of NT and any other third party whose marks or logos may appear on the website or in the datasets. The trademarks and logos may only be used with prior written consent of NT or the appropriate third party.</li>
          <li>NT will not make claims to any intellectual property arising from applications or analysis of the data, or that of any data contributed by third parties, unless indicated as part of a specific event or work commissioned by the NT or one of its partners.</li>
        </ol>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">4. Contributing Data</h2>
        <p>NT encourages you to contribute relevant and appropriate data to be published on this website. You may only contribute data if you agree to these conditions:</p>
        <ol>
        <li>You own the data, or are authorised by the owner to publish it.</li>
        <li>If you are contributing data on behalf of an organisation, you have the organisation’s permission to contribute data on their behalf.</li>
        <li>You may only contribute data under your real name and/or under the real name of the relevant organisation.</li>
        <li>You provide as much metadata and background information on your dataset as possible, to help other users get the most value from your data.</li>
        <li>You contribute your data under one of the licences supported by the website, and agree to be bound by the terms of that licence.</li>
        <li>You agree that the website’s users may use your data under the terms of your chosen license.</li>
        <li>The data is error-free and accurate to the best of your knowledge.</li>
        <li>The data and supporting materials are not deliberately misleading.</li>
        <li>The data contributes meaningfully to the analysis, understanding, or use of South African budget data.</li>
        <li>Your data does not contain or install any viruses, worms, malware, trojan horses, bots or other harmful or destructive content.</li>
        <li>You agree not to hold NT liable for the safekeeping, curation, accuracy or use of the contributed data.</li>
        <li>You may request to remove data you have contributed by contacting us at feedback@vulekamali.gov.za.</li>
        <li>NT does not guarantee to publish a contributed dataset.</li>
        <li>Your contribution may be rejected or removed without notice if it violates applicable laws or this Terms of Use.</li>
        </ol>
        <p>If you have any questions or concerns about contributing your data, please contact us at <a href="mailto:feedback@vulekamali.gov.za">feedback@vulekamali.gov.za</a>.</p>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">5. Discussions and Forum Contributions</h2>
        <p>You are entirely responsible for any comments, discussion forum posts, and links that you make on the portal. When you contribute such content to the portal, you agree that:</p>
        <ol>
          <li>the content does not contain or install any viruses, worms, malware, trojan horses, bots or other harmful or destructive content;</li>
          <li>the content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>
          <li>the content is not pornographic, does not contain threats or incite violence, and does not violate the privacy or publicity rights of any third party;</li>
          <li>your content is not named in a manner that misleads readers into thinking that you are another person or organisation;<br>
          your content does not in any way include a derogatory language and/or defamation of character of anyone; and</li>
          <li>NT may remove content that does not adhere to these Terms of Use, without notification.</li>
        </ol>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">6. Disclaimer</h2>
        <ol>
          <li>NT will endeavour to ensure that the NT data available on this website is complete, validated and updated regularly. However, NT cannot be held responsible for any incorrect data reported by a third party, a department or a province. Reliance on any data displayed on this portal is at the user’s own risk.</li>
          <li>NT does not verify or endorse data contributed by third parties or other government institutions and cannot be held responsible for the quality or validity of contributed data.</li>
          <li>NT accepts no liability whatsoever arising from or connected to, the accuracy, reliability, currency or completeness of any material contained on this website or on any linked site.</li>
        </ol>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">7. Warranty</h2>
        <ol>
          <li>The use of this portal, its data and APIs is at your sole risk. NT makes no warranties or representations that the portal, its data or APIs will meet your requirements; will be available on an uninterrupted, timely secure, or error-free basis; will be accurate, reliable, free of viruses or other harmful codes; or will be complete, free from errors or omissions.</li>
          <li>The data provided on this portal and published through our APIs is made available on an “as is” basis and NT expressly disclaims all warranties of any kind related to the portal, its data and APIs, including warranties of merchantability, title, fitness for a particular purpose, non-infringement, compatibility, security, and accuracy and makes no express or implied representations or warranties regarding the content of the portal and that the portal has been compiled or supplied to meet the user's individual requirements. You are encouraged to report any possible errors, malfunctions or offensive material by using the feedback link.</li>
          <li>NT does not monitor or endorse any works derived from data available on this site, or any links to associated portal or entities, unless indicated otherwise.</li>
          <li>NT does not vouch for any analyses conducted with data retrieved from this site or through our APIs.</li>
          <li>Where there are links on the portal to resources maintained by third parties, NT makes no representations or warranties as to the accuracy of, or any other aspect relating to those resources, including but not limited to the security or trustworthiness of such resources.</li>
        </ol>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">8. Privacy</h2>
        <ol>
          <li>NT may electronically collect personal information that you may provide to us when you sign up to our website or newsletter, or automatically when you visit our website or use its services. Personal information does not include de-identified or anonymous information.</li>
          <li>This personal information may be used to measure the number of visits, average time spent on the website, and determine the areas of use of the website in order to improve content. It may also be used to contact you with information about the website and its services. You may at any time request that we discontinue sending you such materials.</li>
          <li>NT takes your privacy seriously and will do everything reasonably possible to comply with all relevant laws that affect your information.</li>
          <li>Although NT may provide your information to service providers that handle information on its behalf, it will usually not share the information with third parties or other public entities for secondary or unrelated purposes unless otherwise disclosed at the point of collection. By providing information to NT through this website, you are consenting to such transfers.</li>
          <li>You acknowledge that it is possible for internet-based communications to be intercepted. Without the use of encryption, the internet is not a secure medium and privacy cannot be ensured. NT will not be responsible for any damages that the user or any third party may suffer as a result of the transmission of confidential information or disclosed information that you make to NT, or that you expressly or implicitly authorise NT to make, or for any errors or any changes made to any transmitted information.</li>
        </ol>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">9. Updating these Terms of Use</h2>
        <ol>
          <li>This is version of 1.0 of the Terms of Use policy.</li>
          <li>NT reserves the right to change, modify, add to or remove from portions or the whole of these terms and conditions of use from time to time. Changes to these terms and conditions of use will take effect upon such changes being posted to this portal. It is your obligation to periodically check these terms and conditions of use at this portal for changes or updates. Your continued use of this portal following the posting of changes or updates will be considered notice of your acceptance to abide by and be bound by these terms and conditions of use, including such changes or updates.</li>
          <li>Should NT make any substantial changes, it may notify you by placing a notice on the portal.</li>
        </ol>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">10. Contact Information for Feedback and Requests</h2>
        <p>Should you come across any inconsistencies in the data or any problematic data on this portal that may need to be corrected or see any derogatory and defamatory posts on the portal, please do let us know by contacting us at <a href="mailto:feedback@vulekamali.gov.za">feedback@vulekamali.gov.za</a>. We will endeavour to respond to all queries and comments as soon as possible.</p>
      </div>
    </div>

    <div class="Section u-marginBottom20">
      <div class="Section-card is-invisible">
        <h2 class="Section-title">11. Choice of Law</h2>
        <ol>
          <li>These Terms of Use will be governed by the laws of the Republic of South Africa - the Promotion of Access to Information (PAIA) Act, the Protection of Personal Information (POPI) Act and any other relevant frameworks that require a professional and collegial conduct at all times, and the user consents to the jurisdiction of the High Court of South Africa, Gauteng Division, Pretoria in the event of any dispute.</li>
          <li>If any of the provisions of the Terms of Use are found by a court of competent jurisdiction to be invalid or unenforceable, that provision will be enforced to the maximum extent permissible so as to give effect to the intent of the Terms of use and the remainder of the Terms of Use will continue in full force.</li>
          <li>The Terms of Use constitutes the entire agreement between NT and the user with regard to the use of the data and this website.</li>
        </ol>
      </div>
    </div>
  </main>
</div>
{% endblock %}