{% assign svgFloat = '<svg class="Circles-float" width="0" height="0" version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52.8 81.4"><path class="Circles-floatFill" d="M.5.3A28.5 28.5 0 0 0 52.4.2s-6.5 20.7-5.5 40.7 2.6 40.3 2.6 40.3a28.6 28.6 0 0 0-47.1-1.6s5.5-26.7 5.5-35.7S.5.3.5.3z"></path><path class="Circles-floatStroke" fill="none" stroke-miterlimit="10" d="M.5.3A28.5 28.5 0 0 0 52.4.2M49.5 81.2a28.6 28.6 0 0 0-47.1-1.6"></path></svg>' %}

<ul class="Circles">

  {% for item in items.data %}
    <li class="Circles-wrap">
      {% if item.popup %}
        {% assign finalUrl = '' %}
      {% else %}
        {% assign finalUrl = '/' | append: year | append: item.url %}
      {% endif %}

      {% if item != items.data.first %}
        {{ svgFloat }}
      {% endif %}

      {% if item.popup %}
      <span class="Tooltip js-hook is-block">
        <div class="Tooltip-trigger js-trigger">
          <span class="Circles-item{{ item.modifiers }}">
            <div class="Circles-number">{{ item.number }}</div>
            <div class="Circles-text">{{ item.text }}</div>
          </span>
        </div>
        <div class="Tooltip-boxWrap js-box">
          <div class="Tooltip-modalCover js-modalCover"></div>
          <div class="Tooltip-box">
            <div class="Tooltip-content">
              <div class="Tooltip-contentWrap">
                <div class="Tooltip-shadowBox">
                  <div class="Tooltip-infoBox">
                    <div class="Tooltip-title">Redirect Notice</div>
                    <div class="Tooltip-text">Municipal budget information is available on National Treasury's Municipal Money website.</div>
                  </div>
                  <div class="Tooltip-links">
                    <span class="Tooltip-linkWrap is-close js-closeTrigger">
                      <span class="Tooltip-closeIcon">
                        <svg version="1.2" width="10" height="10" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M58.3 50.4L96.7 12c2.4-2.4 2.4-6.2 0-8.6C94.3 1 90.5 1 88 3.4L49.8 41.8 11.3 3.4C9 1 5 1 2.7 3.4.3 5.8.3 9.6 2.7 12L41 50.4 2.8 88.8C.3 91.2.3 95 2.7 97.4 4 98.6 5.5 99.2 7 99.2c1.6 0 3-.6 4.3-1.8L49.7 59 88 97.4c1.3 1.2 3 1.8 4.4 1.8 1.6 0 3-.6 4.3-1.8 2.4-2.4 2.4-6.2 0-8.6L58.3 50.4zm0 0"></path></svg>
                      </span>
                      <span class="Tooltip-link">
                        Close
                      </span>
                    </span>
      
                    <a class="Tooltip-linkWrap" href="http://municipalmoney.gov.za" target="_blank">
                      <div class="Tooltip-link">Proceed to http://municipalmoney.gov.za</div>
                    </a>
                  </div>
                  <div class="Tooltip-triangle"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </span>
      {% else %}

      <a class="Circles-item{{ item.modifiers }}{{ popupModifier }}" data-popup='{{ dataPopup }}' href="{{ finalUrl }}">
        <div class="Circles-number">{{ item.number }}</div>
        <div class="Circles-text">{{ item.text }}</div>
      </a>
      {% endif %}

    </li>
  {% endfor %}

</ul>