<div id="data-scientists">
    <h3 class="Page-mainHeading">Information for Developers and Data Scientists</h3>
    
    <div class="Page-card u-marginBottom20">
      <div class="Section">
        <h4 class="Section-title">Vulekamali Datastore and API</h4>
  
  
        <div class="js-tooltips">
            <p>The data and resources on the Vulekamali data portal are also available using the <a href="https://data.vulekamali.gov.za" target="_blank">vulekamali datastore and API</a>. You can explore and download all the datasets and resources from one place, or use the API to work with them in your favourite programming language.</p>
        </div>
      </div>
    </div>
  </div>
  
