{% load define_action %}


{% assign ""|add:source_type|add:" "|add:year as source_text %}
{% assign "Learn more about the MTEF in the "|add:source_type|add:" as PDF" as pdf_text %}
{% assign "Dataset Guide for "|add:source_type as guide_text %}
{% assign "Learn more about the MTEF in the "|add:source_type|add:" as PDF" as excel_text %}


<div class="ExpenditureSection" id="expenditure">
    <h3 class="Title Title--section">Planned compared to historical expenditure</h3>

    <div class="ExpenditureSection-container">
        <div class="ExpenditureSection-item">
            <div class="ExpenditureSection-share u-marginTop10 u-marginBottom15">
                <div data-component="Share" data-anchor="expenditure" data-color="{{ color }}"></div>
            </div>

            <p class="js-tooltips">
                Budgeted and actual expenditure/allocations for a department can increase or decrease from year to year.
                Changes in expenditure for a department can be because of changes in the activities of the department,
                because of changes in priorities between departments, because of cost efficiencies or because of
                increases in the price of goods and services due to inflation.
            </p>

            <p class="js-tooltips">
                The chart shows the department’s actual expenditure for past years, and budgeted expenditure for the
                current year and the upcoming three years of the medium-term expenditure framework (MTEF). By adjusting
                these numbers to take inflation into account, it is possible to determine if a department’s expenditure
                is really increasing or decreasing in real terms, as compared to the rest of the economy.
            </p>

            <p class="u-marginBottom15">
                Previous financial years indicate actual expenditure while upcoming financial years indicate estimated
                expenditure:

            <table border="1" cellspacing="0" cellpadding="0">
                <tr>
                    <th class="ExpenditureSection-cell">Year</th>
                    <th class="ExpenditureSection-cell">Phase</th>
                </tr>
                {% for item in items.real %}
                    <tr>
                        <td class="ExpenditureSection-cell">{{ item.financial_year }}</td>
                        <td class="ExpenditureSection-cell">{{ item.phase }}</td>
                    </tr>
                {% endfor %}
            </table>
            </p>

            <ul class="LinksList">
                {% include 'components/LinksList/item.html' with prefix="Source" text=source_text url=dataset type="dataset" %}

                {% include 'components/LinksList/item.html' with text="Download this data for analysis (CSV)" url=csv type="download" %}
                <li> Mahlatse was hereee </li>
                {% include 'components/LinksList/item.html' with text=guide_text url=guide type="guide" %}

                {% include 'components/LinksList/item.html' with text=pdf_text url=pdf type="download" %}

                {% include 'components/LinksList/item.html' with text=excel_text url=excel type="download" %}
            </ul>
        </div>

        <div class="ExpenditureSection-item ExpenditureSection-item--right">
            <div class="Card">
                <div
                        data-component="ChartAdaptor"
                        data-items="{{ items| jsonify | escape }}"
                        data-type="expenditure"
                        data-scale="2"
                        data-color="{{ color }}"
                        data-title="{{ title | truncatechars:45 }}"
                        data-subtitle="{{ subtitle }}"
                        data-description="{{ description }}"
                        data-rotated
                >
                </div>
            </div>
        </div>
    </div>
