env
*.pyc
.webassets-cache
staticfiles/
docs/_build
*.sqlite3
*.sql
.tox
.coverage
/.vscode/
node_modules/
_layouts/
/assets/generated/
packages/webapp/build/
_data/assets.json
webapp-assets.json
static/js
/build
dist
/static

npm-debug.log
yarn-debug.log
yarn-error.log

package-lock.json
storybook-build
missing_departments.csv
ghostdriver.log
201*-*-*_*.png
.idea/
.DS_Store
dbdump

.env
/*.csv
*.sql