version: '3'

services:
  db:
    image: postgres:9.6
    environment:
      - POSTGRES_USER=budgetportal
      - POSTGRES_PASSWORD=devpassword
      - POSTGRES_DB=budgetportal
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5439:5432"

  app:
    build:
      context: .
      args:
        USER_ID: ${USER_ID:-1001}
        GROUP_ID: ${GROUP_ID:-1001}
    command: python manage.py runserver_plus --keep-meta-shutdown --nopin 0.0.0.0:8000
    environment:
      - TAG_MANAGER_ID
      - DATABASE_URL=postgresql://budgetportal:devpassword@db/budgetportal
      - DJANGO_DEBUG_TOOLBAR
      - AWS_ACCESS_KEY_ID=minio-access-key
      - AWS_SECRET_ACCESS_KEY=minio-secret-key
      - AWS_STORAGE_BUCKET_NAME=budgetportal-storage
      - AWS_S3_ENDPOINT_URL=http://minio:9000
      - AWS_S3_SECURE_URLS=True
      - AWS_S3_CUSTOM_DOMAIN
      - SOLR_URL=http://solr:8983/solr/budgetportal
      - DEBUG_CACHE
      - DJANGO_WHITENOISE_AUTOREFRESH=TRUE
      - PORT=8000
      - CKAN_URL
      - DJANGO_Q_SYNC=${DJANGO_Q_SYNC:-True}
      - CKAN_API_KEY
      - OPENSPENDING_USER_ID
      - OPENSPENDING_API_KEY
      - OPENSPENDING_HOST
      - OPENSPENDING_DATASET_CREATE_SUFFIX=-dev
      #- GUNICORN_WORKERS_ARG=1 # Useful for testing start.sh
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - solr
      - minio-client
      - minio
    links:
      - selenium

  # Should be same as app except for command and ports
  worker:
    build:
      context: .
      args:
        USER_ID: ${USER_ID:-1001}
        GROUP_ID: ${GROUP_ID:-1001}
    command: python manage.py qcluster
    environment:
      - DATABASE_URL=postgresql://budgetportal:devpassword@db/budgetportal
      - DJANGO_DEBUG_TOOLBAR=${DJANGO_DEBUG_TOOLBAR:-False}
      - AWS_ACCESS_KEY_ID=minio-access-key
      - AWS_SECRET_ACCESS_KEY=minio-secret-key
      - AWS_STORAGE_BUCKET_NAME=budgetportal-storage
      - AWS_S3_ENDPOINT_URL=http://minio:9000
      - SOLR_URL=http://solr:8983/solr/budgetportal
      - CKAN_URL
      - CKAN_API_KEY
      - OPENSPENDING_USER_ID
      - OPENSPENDING_API_KEY
      - OPENSPENDING_HOST
      - OPENSPENDING_DATASET_CREATE_SUFFIX=-dev
    volumes:
      - .:/app
    depends_on:
      - db
      - solr
      - minio

  minio:
    image: "minio/minio:RELEASE.2019-10-12T01-39-57Z"
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000"
    environment:
      - MINIO_ACCESS_KEY=minio-access-key
      - MINIO_SECRET_KEY=minio-secret-key
      - MINIO_DOMAIN=minio
    command: minio --compat server data

  minio-client:
    image: "minio/mc"
    depends_on:
      - minio
    environment:
      - MINIO_ACCESS_KEY=minio-access-key
      - MINIO_SECRET_KEY=minio-secret-key
      - MINIO_DOMAIN=minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc mb budgetportal-storage;
      /usr/bin/mc policy set public budgetportal-storage;
      "

  solr:
    build: "https://github.com/vulekamali/solr-dokku.git"
    image: budgetportal-solr
    ports:
      - "8983:8983"
    volumes:
      - solr-data:/opt/solr/server/solr/budgetportal/data
    ulimits:
      nofile:
        soft: 65536
        hard: 65536

  selenium:
    image: selenium/standalone-chrome:3.141
    ports:
      - 4444:4444
      - 5900:5900
      - 7900:7900
    shm_size: '2gb'
    environment:
      - JAVA_OPTS=-Dwebdriver.chrome.whitelistedIps=

volumes:
  db-data:
  minio-data:
  solr-data:
