certifi==2017.11.5
chardet==3.0.4
ckanapi==4.1
dj-database-url==0.3.0
Django==1.11.15
django-adminplus==0.5
django-allauth==0.34.0
django-autoslug==1.9.3
django-debug-toolbar==1.9.1
django-extensions==1.9.6
django-partial-index==0.4.0
django-pipeline==1.6.13
django-q==0.9.4
django-recaptcha==1.4.0
docopt==0.6.2
elastic-apm==3.0.2
enum34==1.0.4
futures==3.0.3
gevent==1.2.1
greenlet==0.4.12
gunicorn==19.5.0
idna==2.6
openpyxl==2.5.9
pathlib==1.0.1
psycopg2==2.7.5
pyaml==17.10.0
python-logstash==0.4.6
pyScss==1.3.4
python-slugify==1.2.4
pytz==2017.3
PyYAML==3.12
requests==2.20.0
simplejson==3.12.0
six==1.9.0
urllib3==1.22
Werkzeug==0.10.1
whitenoise==1.0.6
