.VideoCard {
  &--fullHeight {
    height: 100%;
  }
}

.VideoCard-card {
  &--fullHeight {
    height: 100%;
  }
}

.VideoCard-container {
  color: #3f3f3f;
  width: 100%;
  display: flex;
  flex-direction: column;

  &:not(.VideoCard-container--compact) {
    @media screen and (min-width: 768px) {
      &--fullPage {
        flex-direction: row;
        height: 250px;
      }
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      height: 250px;
    }
  }
}

.VideoCard-preview {
  cursor: pointer;
  flex: 0 0 150px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    &--fullPage {
      flex-basis: 300px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: 300px;
  }
}

.VideoCard-icon {
  position: relative;
  padding-left: 4px;
  background: grey;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: flex;
  fill: white;
  justify-content: center;
  align-items: center;

  &::before {
    box-sizing: content-box;
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    border: 3px solid grey;
    left: -3px;
    top: -3px;
    border-radius: 50%;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;

    .VideoCard-preview:hover & {
      transform: scale(1.3);
      opacity: 0.3;
    }
  }
}

.VideoCard-info {
  padding: 10px 20px;
  font-size: 14px;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.VideoCard-title {
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 1rem;
  cursor: pointer;

  &:hover {
    background: darken(white, 15%);
  }
}
