
{% load static %}
<div class="ExtraFooter">
  <div class="ExtraFooter-wrap">
    <div class="ExtraFooter-title">Vulekamali is a project by the South African National Treasury and IMALI YETHU</div>
    <div class="ExtraFooter-list">
      <a href="http://www.treasury.gov.za/" class="ExtraFooter-item" target="_blank">
        <img width="200" class="ExtraFooter-image ExtraFooter-image--larger" src="{% static 'images/treasury-logo.jpg' %}"/>
      </a>
      <a href="https://imaliyethu.org.za/" class="ExtraFooter-item" target="_blank">
        <img width="200" class="ExtraFooter-image" src="{% static 'images/imali-yethu-logo-h.png' %}"/>
      </a>
    </div>
  </div>
</div>
