{% if include.url %}
  {% if include.prefix %}
    <li>
      {% if include.type == 'download' or include.type  == 'link' %}
        <a href="{{ include.url }}" target="_blank" rel="noopener noreferrer" class="LinksList-link LinksList-link--clickable">
      {% else %}
        <a href="{{ include.url }}" class="LinksList-link LinksList-link--clickable">
      {% endif %}
        <span class="LinksList-icon">
          {% include components/Icon/index.html type=include.type size="s" %}
        </span>
        <div>
          <span>{{ include.prefix }}:&nbsp;</span>
          <span class="LinksList-title">
            {{ include.text }}
          </span>
        </div>
      </a>
    </li>
  {% else %}
    <li>
      {% if include.type == 'download' or include.type  == 'link' %}
        <a href="{{ include.url }}" target="_blank" rel="noopener noreferrer" class="LinksList-link LinksList-link--clickable">
      {% else %}
        <a href="{{ include.url }}" class="LinksList-link LinksList-link--clickable">
      {% endif %}
        <span class="LinksList-icon">
          {% include components/Icon/index.html type=include.type size="s" %}
        </span>
        <span class="LinksList-title">
          {{ include.text }}
        </span>
      </a>
    </li>
  {% endif %}
{% endif %}
