.Input {
  border-radius: 3px;
  background-color: #fff;
  border: solid 1px #d2d2d2;
  font-size: 14px;
  padding: 8px 8px 11px;
  display: block;
  width: 100%;
  line-height: 1;
  font-family: Lato;
}
