{% extends "base_sso.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<h1 class="Title">{% trans "Password Reset" %}</h1>

<div class="Card u-marginAuto u-marginBottom20">
  <div class="Card-content">
    <h2 class="Card-title u-marginBottom20">Password Reset</h2>
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}