{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}



{% block content %}
<h1 class="Title">{% trans "Password Reset" %}</h1>

{% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
{% endif %}

<div class="Card u-marginAuto u-marginBottom20">
  <div class="Card-content">
    <h2 class="Card-title u-marginBottom20">Recovery email</h2>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="Button" value="{% trans 'Reset My Password' %}" />
    </form>
  </div>
</div>
{% endblock %}
