{% extends "base_sso.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}



{% block content %}
<h1 class="Title">{% trans "Verify Your E-mail Address" %}</h1>

<div class="Card u-marginAuto u-marginBottom20">
  <div class="Card-content">
    <h2 class="Card-title u-marginBottom20">Instructions</h2>
    <p>
      {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}
    </p>

    <p>
      {% blocktrans %}Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
    </p>
  </div>
</div>
{% endblock %}
