#js-initPerformanceIndicators {
  position: relative;
}

.performance-indicators-container {
  font-size: 16px;
  line-height: 18px;
  background-color: #e2e3e5 !important;
  border-radius: 20px !important;
  font-family: Lato, sans-serif !important;
  padding: 30px 30px 0px;
  box-shadow: none !important;
  margin-bottom: 30px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
  @media screen and (max-width: 400px) {
    padding: 20px 10px 10px;
  }

  .programme-name {
    font-size: 18px;
    font-weight: 800;
    line-height: 120%;
    margin-top: 0px;
    color: #3f3f3f;
    @media screen and (max-width: 400px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .programme-card {
    padding: 30px;
    border-radius: 20px !important;
    @media screen and (max-width: 400px) {
      padding: 20px;
    }

    .indicator-type {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #3F3F3F;
      opacity: 0.5;
      margin: 0 0 5px;
    }

    .indicator-name {
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      color: #3F3F3F;
      margin: 0;
    }

    .quarter-selection-container {
      margin-top: 15px;
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 15px;

      .quarter-selection {
        background-color: rgba(63, 63, 63, 0.05);
        border-radius: 100px;
        padding: 9px 12px;
        box-shadow: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        color: #3F3F3F;
        margin-right: 5px;
        min-width: unset;
        text-transform: none;
        @media screen and (max-width: 400px) {
          padding: 9px 7px;
        }
      }

      .quarter-selection.selected {
        background-color: #3F3F3F;
        color: #fff;
      }

      .hidden-quarter {
        visibility: hidden;
      }
    }

    .indicator-section {
      p.section-head {
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #3f3f3f;

        .chart-legend {
          float: right;
          text-transform: none;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #3f3f3f;
        }
      }

      p.section-text {
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.05);
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        overflow: hidden;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 145%;
        color: #333;
        padding: 12px 12px 4px;
      }

      .output-text-container {
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.05);
        display: flex;
        width: 100%;
        min-height: 44px;

        .output-text {
          width: 90%;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          overflow: hidden;
          font-family: Roboto, sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 145%;
          color: #333;
          padding: 12px 12px;

          .data-not-available {
            opacity: 0.5;
          }
        }

        .read-more-output {
          width: 10%;
          align-self: center;
          text-align: center;
          display: none;
          cursor: pointer;
          border: none;

          svg {
            pointer-events: none;
          }
        }
      }

      .output-chart-container {
        border-radius: 16px;
        background-color: rgba(0, 0, 0, 0.05);
        display: flex;
        width: 100%;
        padding: 12px;

        .active-chart {
          border: 1px solid #3f3f3f;
          border-radius: 6px;
        }

        .bar-text {
          text-align: center;
          font-size: 12px;
        }

        .unavailable-chart-indicator {
          height: 100%;
          min-height: 100px;
          align-items: center;
          display: flex;
          @media screen and (max-width: 400px) {
            min-height: 50px;
          }

          svg {
            margin: 0 auto;
          }
        }
      }

      .output-text-container.read-more-visible {
        .read-more-output {
          display: block;
        }

        .output-text {
          padding: 12px 12px 4px;
        }
      }
    }
  }

  .float-right {
    float: right;
  }

  .IntroSection-fade {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.34) 100%);
  }

  .IntroSection-button {
    bottom: 40px;

    button {
      border: none;
    }
  }
}

.performance-indicators-container.is-open {
  max-height: unset;
  padding-bottom: 30px;
}

.programme-btn {
  text-transform: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 100% !important;
  font-family: Lato, sans-serif !important;
  border-radius: 100px !important;
  border: 1px solid #3f3f3f !important;
  background-color: #fff !important;
  padding: 9px 12px !important;
  letter-spacing: unset !important;
  font-stretch: normal !important;
}

.MuiTooltip-tooltip {
  font-family: Roboto, sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 145% !important;
  color: #333 !important;
  background-color: #fff !important;
  border-radius: 20px !important;
  white-space: nowrap;
  max-width: unset !important;
}

.Page-contentInner--public-entity {
  @media screen and (max-width: 400px) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}