.u-marginLeft {
  @for $i from 0 through 6 {
    &#{$i * 5} {
      margin-left: #{$i * 5}px !important;
    }
  }

  @for $i from 0 through 3 {
    &#{($i * 10) + 30} {
      margin-left: #{($i * 10) + 30}px !important;
    }
  }

  @for $i from 0 through 3 {
    &#{($i * 100) + 100} {
      margin-left: #{($i * 100) + 100}px !important;
    }
  }

  &Auto {
    margin-left: auto !important;
  }
}

