.u-padding {
  @for $i from 0 through 6 {
    &#{$i * 5} {
      padding: #{$i * 5}px !important;
    }
  }

  @for $i from 0 through 3 {
    &#{($i * 10) + 30} {
      padding: #{($i * 10) + 30}px !important;
    }
  }

  @for $i from 0 through 3 {
    &#{($i * 100) + 100} {
      padding: #{($i * 100) + 100}px !important;
    }
  }
}

