.Button {
  width: 100%;
  display: block;
  border: 0;
  border-radius: 50px;
  background-color: #7bb344;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 8px 16px 11px 13px;
  cursor: pointer;
  text-align: center;
  fill: white;
  text-decoration: none;

  &:hover {
    background: darken(#7bb344, 15%);
  }

  &.is-inline {
    width: auto;
    display: inline-block;
  }

  &.is-white {
    color: #3f3f3f;
    background-color: white;

    &:hover {
      background-color: darken(white, 15%);
    }
  }

  &.is-grey {
    background-color: #e6e6e6;
    color: #3f3f3f;

    &:hover {
      background-color: darken(#e6e6e6, 15%);
    }
  }
  
  &.is-facebookColour {
    background-color: #507cc0;
    
    &:hover {
      background-color: darken(#507cc0, 15%);
    }
  }
  
  &.is-googleColour {
    background-color: #df4930;
    
    &:hover {
      background-color: darken(#df4930, 15%);
    }
  }

  &.is-small {
    font-size: 13px;
    padding: 4px 16px 7px 15px;
  }

  &.has-icon {
    line-height: 0;
    padding: 13;
  }

  &.is-invisible {
    fill: #3f3f3f;
    color: #3f3f3f;
    background: none;

    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }
  }

  &.is-secondary {
    background: white;
    border: 1px solid #3F3F3F;
    color: #3F3F3F;

    &:hover {
      background: darken(white, 15%);
    }
  }
}