.Card {
  display: block;
  width: 100%;
  max-width: 400px;
  background-color: #e6e6e6;
  border: 1px solid #d2d2d2;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.25);
  border-radius: 20px;
  padding: 10px;
}

.Card-content {
  padding: 20px 10px 25px;
  background: #fff;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.25);
  border: 1px solid #d2d2d2;

  @media screen and (min-width: 500px) {
    padding: 25px 20px 35px;
  }

  @media screen and (min-width: 750px) {
    padding: 25px 30px 35px;
  }
}

.Card-title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 700;
  font-weight: 900;
  display: block;
  margin: 0;
}