{% load define_action %}
{% if source_url %}
  {% assign 'a' as tag %}
{% else %}
  {% assign 'span' as tag %}
{% endif %}

<div class="ThumbPreview" data-component="ThumbPreview">
  <div class="ThumbPreview-thumb">
    <div class="ThumbPreview-image" data-thumb data-image="{{ logo }}"></div>
  </div>
  <div class="ThumbPreview-content">
    <a class="ThumbPreview-heading" href="{{ url }}">{{ title }}</a>
    <div class="ThumbPreview-source">
      <span>Source: </span>
      <{{ tag }} href="{{ source_url }}">{{ source }}</{{ tag }}>
    </div>
    <div class="ThumbPreview-info">First uploaded: {{ created }}</div>
    <div class="ThumbPreview-info">Last updated: {{ updated }}</div>
  </div>
</div>