{% extends 'page-shell.html' %}
{% load define_action %}
{% block page_content %}

<div class="Page-content Page-content--dynamicYears" id="performance-table-container">
    <main class="Page-contentInner is-full">
        <h1 class="Page-mainHeading u-marginLeftAuto">Quarterly performance reporting (QPR) indicators</h1>

        <p>Find the latest quarterly performance monitoring indicators, results, and explanations from national and provincial departments.</p>

        <p>How is performance measured in government? Quarterly and audited annual indicators is one of the tools to monitor implementation of department mandates.</p>
        {% include 'components/performance/Table/index.html' %}
    </main>
</div>
{% endblock %}
