<div id="media-and-other-information">
  <h3 class="Page-mainHeading">Media & Other Information</h3>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <h4 class="Section-title">Tender publications</h4>

      <ul>
        <li>
          <a href="http://www.etenders.gov.za/content/develop-online-budget-data-portal-inclusive-ict-technical-development-and-integrated" target="_blank">
            eTenderPublication for the online budget data portal tender
          </a>
        </li>
        <li>
          <a href="http://www.sa-tenders.co.za/content/develop-online-budget-data-portal-inclusive-ict-technical-development-and-integrated-0" target="_blank">
            SATenders publication of the online budget data portal tender
          </a>
        </li>
        <li>
          <a href="https://www.l2b.co.za/Tender/Develop-an-online-budget-data-portal/635495" target="_blank">
            Leaders2Business publication of the online budget data portal tender
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <h4 class="Section-title">Portal project page</h4>

      <ul>
        <li>
          <a href="https://openup.org.za/treasury.html" target="_blank">
            A page published for all the online budget data portal events
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <h4 class="Section-title">Media coverage of the online budget data portal</h4>

      <ul>
        <li>
          <a href="http://www.treasury.gov.za/comm_media/press/2020/Public%20invitation%20-%20Budget%20Outreach.pdf">
            Invitation to South African Institutions of Higher Learning to Participate in the Hosting of the 2020 Budget Outreach Initiative
          </a>
        <li>
          <a href="http://www.itweb.co.za/index.php?option=com_content&view=article&id=165197" target="_blank">
            An article by IT Web
          </a>
        </li>
        <li>
          <a href="http://limpopoonline.co.za/?p=13919" target="_blank">
            An article by LimpopoOnline
          </a>
          <span> (sourced from the SABS)</span>
        </li>
      </ul>
    </div>
  </div>

</div>
