{% load define_action %}
<nav class="NavBar">
  <div class="NavBar-mobileWrap js-mobileTrigger">
    <div class="NavBar-mobileTrigger">
      {% include 'components/Icon/index.html' with type="hamburger" %}
    </div>
  </div>
  <h2 class="u-sReadOnly">Navigate to a section on this site:</h2>
  <div class="NavBar-modalCover js-modalCover"></div>
  <div class="NavBar-container js-mobileShow">
    <div class="NavBar-wrap">
      <div class="NavBar-expand js-closeIcon" aria-hidden="">
        <div class="NavBar-expandText">Hide Menu</div>
        <div class="NavBar-expandIcon"></div>
      </div>
      <ul class="NavBar-list">

        {% for item in items %}
          {% comment %} Create alignment CSS class {% endcomment %}
          {% if item.align_right %}
            {% assign ' is-right' as alignmentClass %}
          {% else %}
            {% assign '' as alignmentClass %}
          {% endif %}

          {% comment %} Create CSS class that highlights location {% endcomment %}
          {% if item.name == selected_tab %}
            {% assign  ' is-active' as activeClass %}
            {% assign 'true' as activeValue %}
          {% else %}
            {% assign '' as activeClass %}
            {% assign 'false' as activeValue %}
          {% endif %}

          {% comment %} Create CSS that prevents parent from being highlighted as well on mobile {% endcomment %}
          {% if item.subLinks %}
            {% assign ' has-subLinks' as subLinkClass %}
          {% else %}
            {% assign '' as subLinkClass %}
          {% endif %}

          <li class="NavBar-item{{ alignmentClass }}">
            {% if item.url %}
            <a class="NavBar-link{{ activeClass }}{{ subLinkClass }} {% if item.children.all %}dropdown{% endif %}" href="{{ item.url }}">
            {% else %}
            <span class="NavBar-link{{ activeClass }}{{ subLinkClass }} {% if item.children.all %}dropdown{% endif %}">
            {% endif %}

            {% if item.name == 'homepage' %}
            <span class="NavBar-iconWrap">
              {% include 'components/Icon/index.html' with type="home" %}
            </span>
            <span class="NavBar-text is-mobileOnly">Home</span>
            {% else %}
            <span class="NavBar-text">{{ item.label }}
              {% if item.highlight_as_new %}
              <span class="Navbar-Tag-new">New</span>
              {% endif %}
            </span>
            {% endif %}

            

            {% if item.url %}
            </a>
            {% else %}
            </span>
            {% endif %}

            {% if item.children.all %}
              {% include 'components/header-and-footer/SubLinks/index.html' with items=item.children.all active=activeValue selected_sidebar=selected_sidebar %}
            {% endif %}
          </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
