.EventSection {
  padding: 2rem 0 3rem;
}

.EventSection-heading {
  text-align: center;
  fill: #ad3c64;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem 0;
}

.EventSection-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1056px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.EventSection-item {
  padding: 1rem;
  width: 100%;

  @media screen and (min-width: 850px) {
    width: (100% / 3);
  }
}
