{% capture pdf_text %}
  Learn more about the MTEF in the {{ include.source_type }} as PDF
{% endcapture %}

{% capture excel_text %}
  Learn more about the MTEF in the {{ include.source_type }} as Excel
{% endcapture %}

<div class="ExpenditurePhaseSection" id="expenditure">
  <h3 class="Title Title--section">Budgeted and actual expenditure comparison</h3>

  <div class="ExpenditurePhaseSection-container">
    <div class="ExpenditurePhaseSection-item">
      <div class="ExpenditurePhaseSection-share u-marginTop10 u-marginBottom15">
        <div data-component="Share" data-anchor="expenditure" data-color="{{ include.color }}"></div>
      </div>

      <p class="js-tooltips">
        Compare the adjusted appropriation to the main appropriation to see whether changes were made in the adjustments budget to the appropriations set out in the budget. The audited outcome shows what was actually spent.
      </p>

      <p class="js-tooltips">Note: Direct charges against the National Revenue Fund are excluded.</p>

        {% if include.website_url %}
        <p>Read more in the Annual Report on <a href="http://{{ include.website_url }}">the department's website.</a></p>
        {% endif %}

      <ul class="LinksList">
        {%
          include components/LinksList/item.html
          prefix="Source"
          text=include.source_type
          url=include.dataset
          type="dataset"
        %}

        {%
          include components/LinksList/item.html
          text="Download this data for analysis (CSV)"
          url=include.csv
          type="download"
        %}

        {%
          include components/LinksList/item.html
          text=guide_text
          url=include.guide
          type="guide"
        %}

        {%
          include components/LinksList/item.html
          text=pdf_text
          url=include.pdf
          type="download"
        %}

        {%
          include components/LinksList/item.html
          text=excel_text
          url=include.excel
          type="download"
        %}
      </ul>

      {% if include.notices %}
        {% for notice in include.notices %}
          <div class="Message Message--secondary u-marginBottom20 u-marginTop25">
            <div class="Message-content">
              <span class="Message-heading">
                Please note
              </span>
            </div>
            <div class="Message-text Message-text--secondary">
              {{notice}}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="ExpenditurePhaseSection-item ExpenditurePhaseSection-item--right">
      <div class="ExpenditurePhaseSection-label u-marginBottom15">
        <div class="ExpenditurePhaseSection-labelItem">
          {%
            include components/ChartLabel/index.html
            index="0"
            label="Main appropriation"
          %}
        </div>

        <div class="ExpenditurePhaseSection-labelItem">
          {%
            include components/ChartLabel/index.html
            index="1"
            label="Adjusted appropriation"
          %}
        </div>

        <div class="ExpenditurePhaseSection-labelItem">
          {%
            include components/ChartLabel/index.html
            index="2"
            label="Final appropriation"
          %}
        </div>

        <div class="ExpenditurePhaseSection-labelItem">
          {%
            include components/ChartLabel/index.html
            index="3"
            label="Audited outcome"
          %}
        </div>
      </div>

      <div class="Card">
        <div
          data-component="ChartAdaptor"
          data-items="{{ include.items | jsonify | escape }}"
          data-type="expenditurePhase"
          data-scale="2"
          data-color="purple"
          data-title="{{ include.title | truncate: 45 }}"
          data-subtitle="{{ include.subtitle }}"
          data-description="{{ include.description }}"
          data-barTypes="[&quot;Main Appropriation&quot;, &quot;Adjusted Appropriation&quot;, &quot;Final Appropriation&quot;, &quot;Audited Outcome&quot;]"
          data-rotated
        >
        </div>
      </div>
    </div>
  </div>
</div>
