{% capture source_text %}
  {{ include.source_type }} {{ include.year }}
{% endcapture %}

{% capture pdf_text %}
  Learn more about the MTEF in the {{ include.source_type }} as PDF
{% endcapture %}

{% capture excel_text %}
  Learn more about the MTEF in the {{ include.source_type }} as Excel
{% endcapture %}

<div class="ExpenditureMultiplesSection" id="expenditure-multiples">
  <h3 class="Title Title--section">Budgeted and actual expenditure comparison by programme</h3>

  <div>
    <div>
      <div class="ExpenditureMultiplesSection-share u-marginTop10 u-marginBottom15">
        <div
          data-component="Share"
          data-anchor="expenditure-multiples"
          data-color="{{ include.color }}"
        >
        </div>
      </div>

      <p class="js-tooltips">
        Compare the amount of budget allocated to each of this deparment’s programmes at each phase in the process leading up to the Audited Outcome
      </p>

      <ul class="LinksList">
        {%
          include components/LinksList/item.html
          prefix="Source"
          text=include.source_type
          url=include.dataset
          type="dataset"
        %}

        {%
          include components/LinksList/item.html
          text="Download this data for analysis (CSV)"
          url=include.csv
          type="download"
        %}

        {%
          include components/LinksList/item.html
          text=guide_text
          url=include.guide
          type="guide"
        %}

        {%
          include components/LinksList/item.html
          text=pdf_text
          url=include.pdf
          type="download"
        %}

        {%
          include components/LinksList/item.html
          text=excel_text
          url=include.excel
          type="download"
        %}
      </ul>

      {% if include.notices %}
        {% for notice in include.notices %}
          <div class="Message Message--secondary u-marginBottom20 u-marginTop25">
            <div class="Message-content">
              <span class="Message-heading">
                Please note
              </span>
            </div>
            <div class="Message-text Message-text--secondary">
              {{notice}}
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <div class="ExpenditureMultiplesSection-label u-marginTop25">
        <div class="ExpenditureMultiplesSection-labelItem">
          {%
            include components/ChartLabel/index.html
            index="0"
            label="Main appropriation"
          %}
        </div>

        <div class="ExpenditureMultiplesSection-labelItem">
          {%
            include components/ChartLabel/index.html
            index="1"
            label="Adjusted appropriation"
          %}
        </div>

        <div class="ExpenditureMultiplesSection-labelItem">
          {%
            include components/ChartLabel/index.html
            index="2"
            label="Final appropriation"
          %}
        </div>

        <div class="ExpenditureMultiplesSection-labelItem">
          {%
            include components/ChartLabel/index.html
            index="3"
            label="Audited outcome"
          %}
        </div>
      </div>
    </div>
  </div>

  <div class="ExpenditureMultiplesSection-container u-marginTop30">
    {% for chart in include.items %}
      <div class="ExpenditureMultiplesSection-item">
        <div class="Card Card--fullHeight">
          <div class="Title Title--interSection">{{ chart.name }}</div>
          <div
          data-component="ChartAdaptor"
          data-items="{{ chart.items | jsonify | escape }}"
          data-type="expenditureMultiples"
          data-scale="1"
          data-color="{{ include.color }}"
          data-title="{{ chart.name | truncate: 45 }}"
          data-subtitle="{{ include.subtitle }}"
          data-description="{{ include.description }}"
          data-barTypes="[&quot;Main Appropriation&quot;, &quot;Adjusted Appropriation&quot;, &quot;Final Appropriation&quot;, &quot;Audited Outcome&quot;]"
          data-rotated
        >
        </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
