.EconClassPackedCirclesSection-container {
  display: flex;
  width: 100%;
  flex-direction: column;

  @media screen and (min-width: 1000px) {
    flex-flow: row wrap;
  }
}

.EconClassPackedCirclesSection-item {
  min-width: 0;
  padding-bottom: 1rem;

  @media screen and (min-width: 1000px) {
    width: 33%;
    padding-right: 1rem;

    &--right {
      width: 66%;
    }
  }

  @media screen and (max-width: 1000px) {
    &--right {
      width: calc(100% + 3rem);
      margin-left: -1.5rem;
    }
  }

  &--right .Card {
    height: calc(100vh - 145px);

    iframe {
      width: 100%;
      height: 100%;
      border: 0px;
    }
  }
}

.EconClassPackedCirclesSection-share {
  max-width: 250px;
}

.Missing {
    max-height: 100px;
}
