.errorlist.nonfield {
  border: 1px solid #7bb344;
  padding: 20px 20px 20px 40px;
  border-radius: 10px;
  background: rgba(123, 179, 68, .05);

  li {
    color: #7bb344;
  }
}

label {
  display: none;
}

#id_remember {
  display: none;
}

#id_email,
#id_password1,
#id_password2,
#id_login,
#id_password {
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  font-size: 14px;
  padding: 8px 8px 11px;
  display: block;
  width: 100%;
  line-height: 1;
  font-family: Lato;
  display: block;
  width: 100%;
}