.performance-table-paper {
  padding: 20px;
  border-radius: 20px !important;
  position: relative;

  $page_height: 100vh;
  $padding_top: 12px;
  $padding_bottom: 12px;
  height: calc(#{$page_height} - #{$padding_top} - #{ $padding_bottom});
}

.performance-table-container {
  $page_height: 100vh;
  $pagination_row: 50px;
  $pagination_row_bottom: 50px;
  $padding_top: 12px;
  $padding_bottom: 12px;
  max-height: calc(#{$page_height} - #{$pagination_row } - #{ $pagination_row_bottom } - #{$padding_top} - #{ $padding_bottom});
}

.performance-table {
  height: 1px; /* ignored but needed */
}

.performance-table .performance-table-head {
  white-space: nowrap;
}

.performance-table .indicator-detail-chip {
  display: inline-block;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-right: 5px;
  font-weight: 400;
  font-size: 12px;
  height: unset;
  margin-bottom: 5px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

.performance-table .indicator-detail-chip span {
  padding: 0;
}

.performance-table .performance-table-cell {
  background-color: #fff;
  height: 100%;
  padding: 16px 0px 16px 5px;
}

.performance-table .performance-indicator-cell {
  background-color: #fff;
  height: 100%;
  padding: 16px 0px 16px 5px;
}

.performance-table .performance-table-cell .cell-content {
  max-width: 200px;
  position: relative;
}

.performance-table .performance-indicator-cell .cell-content {
  font-weight: 700;
  margin-right: 5px;
  margin-left: 5px;
  width: 25vw;
}

.performance-table .performance-table-cell .cell-content, .performance-table .performance-indicator-cell .cell-content {
  font-family: Lato, sans-serif;
  border-right: 1px solid #c6c6c6;
  border-bottom: none;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.performance-table .performance-table-cell.alternate, .performance-table .performance-indicator-cell.alternate {
  background-color: #f5f5f5;
}

.performance-table .performance-table-head-cell {
  background-color: #fff;
  border-radius: 5px;
  border-bottom: none;
  font-weight: 700;
  padding: 0 5px 0 0;
}

.performance-table .performance-table-head-cell .cell-content {
  font-family: Lato, sans-serif;
  height: 100%;
  background-color: #f5f5f5;
  padding: 5px 5px 5px 10px;
  margin-right: 5px;
  margin-left: 5px;
  min-width: 150px;
}

.performance-table .performance-table-head-cell.indicator-column-head .cell-content {
  width: 25vw;
  min-width: unset;
}

.performance-table .performance-indicator-cell .cell-content .indicator-name {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.performance-table .link-button {
  text-decoration: underline;
  cursor: pointer;
}

.table-loading-state {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 9;

  .table-circular-progress {
    $page_height: 100vh;
    $pagination_row: 50px;
    $pagination_row_bottom: 50px;
    $padding_top: 12px;
    $padding_bottom: 12px;
    $gif_height: 40px;
    margin-top: calc((#{$page_height} - #{$pagination_row } - #{ $pagination_row_bottom } - #{$padding_top} - #{ $padding_bottom} - #{ $gif_height}) / 2);
  }
}

/* read more */
.performance-table-cell {
  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  span {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }

  label {
    text-decoration: underline;
    cursor: pointer;
  }

  input:focus ~ label {
    outline: -webkit-focus-ring-color auto 5px;
  }

  input:checked + span {
    -webkit-line-clamp: unset;
  }

  input:checked ~ label, span:not(.truncated) ~ label {
    display: none;
  }
}

/* read more */

.filter-search, .filter-search label, .filter-search select, .filter-search option, .filter-search .filter-menu-item, .filter-search ul li {
  font-family: Lato, sans-serif;
}

.filter-menu-item {
  font-size: 14px !important;
  font-family: Lato, sans-serif !important;
  padding-left: 12px !important;
  line-height: 1 !important;
}

.filter-menu-item .option-text {
  font-family: Lato, sans-serif !important;
  width: 100%;
  margin-right: 16px;
  white-space: break-spaces;
}

.filter-menu-item .option-text.blank-label {
  padding-bottom: 5.5px;
  padding-top: 5.5px;
}

.filter-menu-item .option-facet {
  font-family: Lato, sans-serif !important;
  padding: 6px;
  height: unset;
  margin: auto;
}

.filter-menu-item .option-facet span {
  padding: 0px;
}

.filter-search .option-facet {
  display: none;
}

.performance-modal {
  width: 27%;
  margin: 0 auto;
  position: relative;
  top: 25%;
  padding: 20px;
  border-radius: 20px !important;

  .performance-modal-title {
    font-family: Lato, sans-serif !important;
    font-weight: 700;
    font-size: 24px;
    line-height: 145%;
    color: #000;
  }

  .performance-modal-content {
    font-family: Lato, sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 145%;
    color: #000;
    margin-top: 15px;
  }

  .performance-modal-link {
    margin-top: 15px;
    margin-bottom: 15px;

    a {
      font-family: Lato, sans-serif !important;
      font-weight: 400;
      font-size: 14px;
      line-height: 145%;
      color: #000;
    }
  }

  .performance-modal-full {
    width: 100%;
  }
}

.performance-modal-button {
  font-family: Lato, sans-serif !important;
  line-height: 100%;
  font-size: 16px;
}

@media (max-width: 480px) {
  .performance-table .performance-indicator-cell .cell-content {
    width: 80vw;
  }

  .performance-modal {
    width: 87%;
  }
}
