<div class="SignUpBox">
  <div class="SignUpBox-title">Subscribe to our newsletter</div>
  <form class="SignUp-content" action="https://openup.us17.list-manage.com/subscribe/post?u=1769390be13958db72c0af6ed&amp;id=308211cb20" method="post" target="_blank">
    <div class="SignUpBox-input">
      <input class="Input" placeholder="Your email address" type="email" value="" name="EMAIL" required="" id="mce-EMAIL"/>
    </div>
    <div class="SignUpBox-button"><button class="Button is-white" type="submit">Subscribe</button></div>
  </form>
</div>