<ul class="Stages">
  <li class="Stages-item">
    <div class="Stages-pinWrap">
      <h4 class="Stages-pin">Planning Stage</h4>
    </div>
    <div class="Stages-descriptionWrap">
      <p class="Stages-description">Mapping out a project plan showing when and how different stakeholders will be engaged, what the terms of reference will be for appointing a technical team, the technical specifications, as well as the longer-term plan providing for where the portal will be hosted and resources required for its maintenance, daily operations etc.</p>
    </div>
  </li>
  <li class="Stages-item">
    <div class="Stages-pinWrap">
      <h4 class="Stages-pin">Stage One</h4>
    </div>
    <div class="Stages-descriptionWrap">
      <p class="Stages-description">Data currently available within the National Treasury as well as budget-related data within the domain of civil society organisations [data repository with currently existing data; and collaboration platform].</p>
    </div>
  </li>
  <li class="Stages-item">
    <div class="Stages-pinWrap">
      <h4 class="Stages-pin">Stage Two</h4>
    </div>
    <div class="Stages-descriptionWrap">
      <p class="Stages-description">Local and internationally released data, such as data on GDP and IMF world economic data. Links to other already established databases and datasets provided by other national institutions.</p>
    </div>
  </li>
  <li class="Stages-item">
    <div class="Stages-pinWrap">
      <h4 class="Stages-pin">Stage Three</h4>
    </div>
    <div class="Stages-descriptionWrap">
      <p class="Stages-description">Wider government institutional information, including performance information and procurement information. There could be various sources of this data. Custodians are the Department of Planning, Monitoring and Evaluation (DPME), the Office of the Chief Procurement Officer (OCPO) and line departments, etc.</p>
    </div>
  </li>
  <li class="Stages-item">
    <div class="Stages-pinWrap">
      <h4 class="Stages-pin">Stage Four</h4>
    </div>
    <div class="Stages-descriptionWrap">
      <p class="Stages-description">Spatial data providing a view of budget-related information at National, Provincial, Public Entities and Municipal levels across sectors, by economic classification.</p>
    </div>
  </li>
</ul>