<div id="contacts">
  <h3 class="Page-mainHeading">Contacts</h3>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <div class="Contacts">
        <div class="Contacts-title">Feedback and questions about Vulekamali</div>
        <div class="Contacts-item">
          <div class="Contacts-iconWrap">
            <div class="Contacts-icon">
              <svg class="Contacts-svg" fill="white" version="1.2" baseprofile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 82.3 100">
                <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
                <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
              </svg>
            </div>
          </div>
          <ul class="Contacts-info">
            <li class="Contacts-line">E-mail: <a href="mailto:feedback@vulekamali.gov.za">feedback@vulekamali.gov.za</a></li>
          </ul>
        </div>
        <div class="Contacts-title">National Treasury official responsible for the project</div>
        <div class="Contacts-item">
          <div class="Contacts-iconWrap">
            <div class="Contacts-icon">
              <svg class="Contacts-svg" fill="white" version="1.2" baseprofile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 82.3 100">
                <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
                <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
              </svg>
            </div>
          </div>
          <ul class="Contacts-info">
            <li class="Contacts-line is-title">Mr Andisile Best</li>
            <li class="Contacts-line">Director: Budget Reform</li>
          </ul>
        </div>
        <div class="Contacts-title">Civil Society partner representative contact person</div>
        <div class="Contacts-item">
          <div class="Contacts-iconWrap">
            <div class="Contacts-icon">
              <svg class="Contacts-svg" fill="white" version="1.2" baseprofile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 82.3 100">
                <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
                <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
              </svg>
            </div>
          </div>
          <ul class="Contacts-info">
            <li class="Contacts-line is-title">Ms Zukiswa Kota</li>
            <li class="Contacts-line">Head: Monitoring and Advocacy Programme</li>
            <li class="Contacts-line">Public Service Accountability Monitor (IMALI YETHU representative)</li>
          </ul>
        </div>
        <div class="Contacts-title">GTAC contact for the project</div>
        <div class="Contacts-item">
          <div class="Contacts-iconWrap">
            <div class="Contacts-icon">
              <svg class="Contacts-svg" fill="white" version="1.2" baseprofile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 82.3 100">
                <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
                <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
              </svg>
            </div>
          </div>
          <ul class="Contacts-info">
            <li class="Contacts-line is-title">Mr Mehleli Mpofu</li>
            <li class="Contacts-line">Project Manager: Government Technical Advisory Centre</li>
          </ul>
        </div>
        <div class="Contacts-title">Service provider contact for the project</div>
        <div class="Contacts-item">
          <div class="Contacts-iconWrap">
            <div class="Contacts-icon">
              <svg class="Contacts-svg" fill="white" version="1.2" baseprofile="tiny" widht="45" height="54.67" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 82.3 100">
                <path d="M16.7 24.6a24.6 24.6 0 0 0 49.2 0 24.6 24.6 0 1 0-49.2 0z"></path>
                <path d="M41.3 98.3A53 53 0 0 0 82.2 78l.1-.1v-1.5A42.4 42.4 0 0 0 62.2 46l-.8-.4-.6.6a27 27 0 0 1-39.2 0l-.6-.6-.7.4A42.5 42.5 0 0 0 .1 77.1l-.1.5.3.4a53.2 53.2 0 0 0 41 20.3z"></path>
              </svg>
            </div>
          </div>
          <ul class="Contacts-info">
            <li class="Contacts-line is-title">Mr Adi Eyal</li>
            <li class="Contacts-line">OpenUp</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
