.Links {
  @include clearfix;
}

.Links-itemWrap {
  float: left;
  padding: 5px;
  font-size: 14px;
  text-align: left;
  width: 100%;

  @media screen and (min-width: 750px) {
    width: 50%;
  }

  &--full {
    width: 100%;
    text-align: center;
  }
}

.Links-item {
  color: #3f3f3f;
  text-decoration: none;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #b9b9b9;
  padding: 10px;
  display: table;
  width: 100%;

  &--link {
    &:hover {
      background-color: darken(white, 15%);
    }
  }
}

.Links-icon {
  display: table-cell;
  text-align: center;
  line-height: 0;
  width: 50px;
  height: 50px;
  fill: white;
  background: red;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);

  &--purple {
    background-color: #ad3c64;

    .Links-item--link:hover & {
      fill: darken(white, 15%);
      background-color: darken(#ad3c64, 15%);
    }
  }

  &--orange {
    background-color: #c66347;

    .Links-item--link:hover & {
      fill: darken(white, 15%);
      background-color: darken(#c66347, 15%);
    }
  }

  &--darkYellow {
    background-color: #ee9f31;

    .Links-item--link:hover & {
      fill: darken(white, 15%);
      background-color: darken(#ee9f31, 15%);
    }
  }

  &--lightYellow {
    background-color: #fec42d;

    .Links-item--link:hover & {
      fill: darken(white, 15%);
      background-color: darken(#fec42d, 15%);
    }
  }

  &--lightGreen {
    background-color: #7bb344;

    .Links-item--link:hover & {
      fill: darken(white, 15%);
      background-color: darken(#7bb344, 15%);
    }
  }

  &--darkGreen {
    background-color: #2f8c5d;

    .Links-item--link:hover & {
      fill: darken(white, 15%);
      background-color: darken(#2f8c5d, 15%);
    }
  }

  &--dullBlue {
    background-color: #5578c2;

    .Links-item--link:hover & {
      fill: darken(white, 15%);
      background-color: darken(#5578c2, 15%);
    }
  }

  &--brightBlue {
    background-color: #5793f3;

    .Links-item--link:hover & {
      fill: darken(white, 15%);
      background-color: darken(#5793f3, 15%);
    }
  }
}

.Links-text {
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 14px;
}

.Links-svg {
  width: 25px;
  height: 25px;
}

.Links-linkWrap {
  display: block;
  float: left;
  padding: 5px;
  width: 100%;
}

.Links-link {
  display: inline-block;
  color: #3f3f3f;
  padding: 3px 6px 6px;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
    background-color: darken(#e6e6e6, 15%);
  }
}

.Links-button {
  margin: 5px 3px;
  display: inline-block;
  border: 0;
  border-radius: 18px;
  background-color: #7bb344;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 8px 16px 11px 13px;
  cursor: pointer;
  text-align: center;
  fill: white;
  text-decoration: none;

  @media screen and (min-width: 900px) {
    margin: 0;
    display: inline-block;
    border-radius: 3px;
    padding: 3px;
    background: none;
    color: #3f3f3f;
    text-decoration: underline;
    font-weight: 400;
  }

  &:hover {
    background-color: darken(white, 15%);
  }
}

.Links-seperator {
  text-decoration: none;
  display: none;

  @media screen and (min-width: 900px) {
    display: inline-block;
  }
}

.Links-iconWrap {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
}

.Links-buttonList {
  padding: 10px 10px 10px 0;

  @media screen and (min-width: 900px) {
    padding: 0;
  }
}
