{% if include.location == 'National' %}
  {% assign short_estimate = 'ENE' %}
  {% assign long_estimate = 'Estimates of National Expenditure' %}
{% else %}
  {% assign short_estimate = 'EPRE' %}
  {% assign long_estimate = 'Estimates of Provincial Revenue and Expenditure' %}
{% endif %}

<div class="IntroSection">
  <div class="IntroSection-textWrap">
    <div class="js-initIntroSection">
      <div class="IntroSection-text js-content">
        {{ include.description | strip_html | markdownify  }}
      </div>
    </div>
  </div>
</div>