{% load define_action %}
{% load markdownify %}
{% if location == 'National' %}
  {% assign 'ENE' as short_estimate %}
  {% assign 'Estimates of National Expenditure' as long_estimate %}
{% else %}
  {% assign 'EPRE' as short_estimate %}
  {% assign 'Estimates of Provincial Revenue and Expenditure' as long_estimate %}
{% endif %}

<div class="IntroSection">
  <div class="IntroSection-textWrap">
    <div class="js-initIntroSection">
      <div class="IntroSection-text js-content">
        {{ description  | markdownify }}
      </div>
    </div>
  </div>
</div>