<h3 class="Section-title is-small">What are Treasury, Departments and Parliament busy with?</h3>

<ul>
  <li>National Treasury engages with departments to assist with submissions.</li>
  <li>Function groups hold discussions and begin formulating recommendations to budget technical structures, including the Ministers' Committee on the Budget Technical Committee (MTEC) and the Technical Committee on Finance (TCF).</li>
  <li>Departments submit MTEF budgets to the National Treasury and engagements are held on these budget submissions.</li>
  <li>Parliament must pass the Appropriation Bill, with or without amendments, within four months after the start of the financial year: by 31 July.</li>
  <li>The Committees on Appropriations holds public hearings when deliberating the contents and recommendations to be included in its report on the Appropriation Bill.</li>
  <li>Parliament conducts oversight visits, study tours and special projects.</li>
</ul>

<h3 class="Section-title is-small">How can I participate?</h3>

<ul>
  <li>Engagement government departments on their budget submissions.</li>
  <li>Lobby parliament, parliamentary committees and MPs for specific oversight visits.</li>
  <li>Participate in parliamentary oversight visits.</li>
</ul>
