<h3 class="Section-title is-small">What are Treasury, Departments and Parliament busy with?</h3>

<ul>
  <li>National Treasury issues budget guidelines to departments requesting budget submissions, including their 3-year expenditure estimates, in accordance with the adopted budget strategy and planned budget process.</li>
  <li>Function groups hold discussions and begin formulating recommendations to budget technical structures, including the Ministers' Committee on the Budget Technical Committee (MTEC) and the Technical Committee on Finance (TCF).</li>
  <li>Departments engage with analysts on departmental budgets and the drafting of budget submissions. (May & June)</li>
  <li>Parliament decides on priorities for the third Parliamentary term.</li>
  <li>Parliament conducts oversight visits, study tours and special projects.</li>
  <li>Parliament holds the "Youth Parliament".</li>
</ul>

<h3 class="Section-title is-small">How can I participate?</h3>

<ul>
  <li>Lobby parliament, parliamentary committees and MPs for specific oversight visits.</li>
  <li>Participate in parliamentary oversight visits.</li>
  <li>Participate in youth parliaments.</li>
  <li>Engage government departments on the likely content of their budget submissions.</li>
</ul>
