<h3 class="Section-title is-small">What are Treasury, Departments and Parliament busy with?</h3>

<ul>
  <li>Departments table strategic and annual performance plans.</li>
  <li>Provincial budgets are tabled and submitted to National Treasury.</li>
  <li>Within 16 days of the Budget being tabled, the Committees on Finance must submit a report to the National Assembly and the National Council of Provinces on the fiscal framework and revenue proposals.</li>
  <li>The Committees on Finance hold public hearings when deliberating the contents and recommendations to be included in its reports.</li>
</ul>

<h3 class="Section-title is-small">How can I participate?</h3>

<ul>
  <li>Make submissions to the Committees on Finance providing your input on the fiscal framework and the revenue (tax) proposals.</li>
</ul>
