<h3 class="Section-title is-small">What are Treasury, Departments and Parliament busy with?</h3>

<ul>
  <li>National Treasury issues budget guidelines to departments requesting budget submissions, including their 3-year expenditure estimates, in accordance with the adopted budget strategy and planned budget process.</li>
  <li>Departments engage with analysts on departmental budgets and the drafting of budget submissions. (May & June)</li>
  <li>Parliament and provincial legislatures review the provincial appropriation bill and each department's budget, including the department's Annual Performance Plan (APP) and Strategic Plan (SP).</li>
</ul>

<h3 class="Section-title is-small">How can I participate?</h3>

<ul>
  <li>Review the departments' Annual Annual Performance Plans (APPs) and Strategic Plans (SPs).</li>
  <li>Engage national departments and relevant Parliamentary committees on the content of the APPs and SPs and whether national departmental budgets have been properly prioritised.</li>
  <li>Engage provincial departments and relevant provincial legislature committees on the content of the APPs and SPs and whether national departmental budgets have been properly prioritised.</li>
</ul>
