<h3 class="Section-title is-small">What are Treasury, Departments and Parliament busy with?</h3>

<ul>
  <li>Deliberations take place within National Treasury's budget technical structures to enable them to finalise recommendations to political structures on the detail of the MTEF National allocations to be tabled in the budget in February.</li>
  <li>Cabinet considers the recommendations tabled before it. Allocations adopted by Cabinet are included in updated allocation letters sent to departments.</li>
  <li>Departments update their budget documentation inputs accordingly.</li>
  <li>Departments finalise their budgets and budget documentation in accordance with the final allocations received.</li>
  <li>Within 9 days after the adoption of the fiscal framework report, Parliament must report to the respective Houses on the Division of Revenue Amendment Bill.</li>
  <li>The Committee on Appropriations must report to the relevant House on the Adjustments Appropriation Bill within 30 days of the tabling of the national adjustments budget.</li>
</ul>

<h3 class="Section-title is-small">How can I participate?</h3>

<ul>
  <li>Participate in public hearings on the Division of Revenue Amendment Bill in the national and provincial legislatures.</li>
  <li>Participate in public hearings on the Adjustments Appropriation Bill. These will be held by the appropriations committee and the relevant sector committees may also be engaged.</li>
</ul>
