.BasicContent {
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 2rem;
  margin: 2px;
  line-height: 1.45;

  &.is-green {
    background-color: #7bb344;
  }

  &.is-purple {
    background-color: #ad3c64;
  }
}

.BasicContent-title {
  font-weight: 900;
  line-height: normal;
  font-size: 18px;
  margin-bottom: 1rem;
  display: block;

  &.is-small {
    font-size: 14px;
  }
}
