{% load define_action %}
{% if percentage > 0 %}
  {% assign "" as flip %}
{% else %}
  {% assign " ChangeIndicator-icon--flip" as flip %}
{% endif %}

{% if priority %}
  {% assign "large" as size %}
{% else %}
  {% assign "" as size %}
{% endif %}

<div class="ChangeIndicator {% if priority %}ChangeIndicator--priority{% endif %}" data-component="ChangeIndicator">
    {% if icon == "true" and percentage != 0 %}
      <div class="ChangeIndicator-icon{{ flip }}">
        {% include 'components/Icon/index.html' with type="arrow" size=size %}
      </div>
    {% endif %}
    <div class="ChangeIndicator-info">
      <div class="ChangeIndicator-main">{{ percentage|floatformat:1 }}%</div>
      <div class="ChangeIndicator-secondary" data-node data-amount="{{ amount }}"></div>
    </div>
  </div>