{% if include.percentage > 0 %}
  {% assign flip = "" %}
{% else %}
  {% assign flip = " ChangeIndicator-icon--flip" %}
{% endif %}

{% if include.priority %}
  {% assign size = "large" %}
{% else %}
  {% assign size = "" %}
{% endif %}

<div class="ChangeIndicator {% if include.priority %}ChangeIndicator--priority{% endif %}" data-component="ChangeIndicator">
    {% if include.icon == "true" and include.percentage != 0 %}
      <div class="ChangeIndicator-icon{{ flip }}">
        {%
          include components/Icon/index.html
          type="arrow"
          size=size
        %}
      </div>
    {% endif %}
    <div class="ChangeIndicator-info">
      <div class="ChangeIndicator-main">{{ include.percentage | round: 1 }}%</div>
      <div class="ChangeIndicator-secondary" data-node data-amount="{{ include.amount }}"></div>
    </div>
  </div>