{% load define_action %}
{% if resource.format == "" %}
    {% assign "link" as icon %}
{% else %}
    {% assign "download" as icon %}
{% endif %}

{% if resources %}
    <div class="Downloads {{ utils }}">
        <div class="Downloads-inner">
            <div class="Downloads-title">Documents included in this dataset</div>
            <div class="Downloads-content">
                <ul class="LinksList">
                    {% for resource in resources %}
                        {% with ""|add:resource.name|add:" ("|add:resource.format|add:")" as text %}
                        {% include 'components/LinksList/item.html' with text=text url=resource.url type=icon %}
                        {% endwith %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}