<div id="development">
  <h3 class="Page-mainHeading">Development</h3>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <h4 class="Section-title">Development Stages</h4>

      <div class="js-tooltips">
        <p>Given the complexity, the portal will be built in stages. The different development stages are essentially distinguished by the scope of data made available in each stage. After the planning stage, the project has four stages of data availability:</p> 
      </div>

      {% include 'components/about/Stages/index.html' %}
        
    </div>
  </div>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <h4 class="Section-title">Development Approach</h4>

      <div class="js-tooltips">
        <p>Many IT projects that use the traditional waterfall approach of extensive design upfront do not work well, are delivered late, or are over budget.</p>
      
        <p>This project is utilising an agile approach. The agile approach is one of iterative development in rapid cycles will allow data to be made available in the phased manner. The agile development principles encourage active ‘user’ involvement throughout the product’s development and will serve to ensure that the data provision is responsive to user needs. Civil society and citizens’ inputs will be incorporated into the IT development, in order to ensure product development alignment to user needs.</p>
      
        <p>A number of opportunities for civil society engagement and partnership with the project have been identified along the full life-cycle of the project.</p>
      </div>

    </div>
  </div>

  <div class="Page-card u-marginBottom20">
    <div class="Section">
      <h4 class="Section-title">Project Approach</h4>

      <ul class="js-tooltips">
        <li>Develop an application programme interface (API) and ensure that the raw data is available in a user-friendly format via the API.</li>
        <li>Build an easily accessible, user friendly online budget data portal where budget related documents and guidance material can be brought together in a single location in a way that is educative and interactive. This includes facilitating and developing the mockups of the portal that will be assessed.</li>
        <li>Develop a communications strategy and implement a project communications campaign that is centred on widespread public participation.</li>
        <li>Develop a stakeholder engagement plan and implement through engagement with civil society organisations to select the ideal portal design.</li>
        <li>Enhance public participation opportunities and develop civic information products and execute a nationwide civic education drive.</li>
        <li>Create links to relevant local and international data sources.</li>
        <li>Undertake ongoing hosting and maintenance arrangements.</li>
        <li>Provide data updates.</li>
      </ul>

    </div>
  </div>
</div>