.department-subprogramme-treemap * {
    /** page **/
    svg {
        fill: white;
    }

    /** main.css **/
    text {
        font-family: 'Roboto', sans-serif;
    }

    .main-label rect {
        fill: #333333;
    }

    .main-label text {
        font-size: 2.3vh;
        fill: white;
    }

    .label-separator {
        stroke: #cccccc;
    }

    .svg-content-responsive {
        display: inline-block;
    }

    .bounding-box {
        stroke: none;
        fill: none;
    }

    /** treemap.css **/
    .top-labels .programme-label, .top-labels .subprogramme-label {
        fill: black;
        font-size: 2.0vh;
    }

    .top-labels .programme-budget-label, .top-labels .subprogramme-budget-label  {
        font-size: 2.8vh;
    }

    .tile {
        stroke: none;
    }

    .tile:hover {
        stroke:black;
        stroke-width:2px;
    }

    .programme-label, .programme-label tspan {
        font-size: 2vh;
        pointer-events: none;
    }

    .box .subprogramme-label, .box .subprogramme-budget-label {
        opacity: 0.7;
        font-size: 2vh;
        pointer-events: none;
    }

    #my_dataviz {
    }



    svg {
        height: calc(100vh - 88px)
    }
}
