.Card {
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12);

  @media screen and (min-width: 600px) {
    padding: 1rem 2rem;
  }

  &--fullHeight {
    height: 100%;
  }

  &--dark {
    background: #e2e3e5;
  }
}
