---
layout: page-shell
---

<div class="Page-content">
  <div class="Page-contentInner">
    <h2 class="Page-mainHeading">Join us at a Vulekamali event in your area</h3>
    {%
      include components/events/Events/index.html
      events=site.data.events.upcoming
      upcoming=true
    %}

    {% if site.data.events.past %}
      <h2 class="Page-mainHeading">Past Events</h2>
      {%
        include components/events/Events/index.html
        events=site.data.events.past
      %}
    {% endif %}
  </div>
</div>
