---
layout: page-shell
---


{% assign page_data = site.data.guides.index %}


<div class="Page-content">
  <div class="Page-contentInner Page-contentInner--floatingLinks">
    <div class="Section is-invisible">
      <a href="/">vulekamali</a>
      <span> / </span>
      <a href="/videos">Learning Resources</a>
      <span> / Dataset Guides</span>
    </div>

    <h1 class="Page-mainHeading">Dataset Guides</h1>

    <div class="Section is-invisible u-fontSize18 u-paddingTop0">
      {{ page_data.description }}
    </div>

    <div class="Grid has-twoColumn">
      {% for type in page_data.items %}
        {%
          include components/Preview/index.html
          title=type.name
          excerpt=type.description
          url=type.url_path
        %}
      {% endfor %}
    </div>

  </div>
</div>
