---
layout: page-shell
---


{% assign page_data = site.data.homepage %}
{% assign video_1 = site.data.videos.data[1] %}
{% assign video_2 = site.data.videos.data[2] %}
{% assign video_3 = site.data.videos.data[3] %}

<div class="Page-content u-paddingTop0">
  <div data-webapp="homepage-hero">
    {% include connections/homepage-hero/index.html %}
  </div>

  <div id="national-treemap" class="national-treemap" data-webapp="consolidated-treemap"></div>
  <div id="national-treemap" class="national-treemap" data-webapp="national-treemap"></div>
  <div id="provincial-treemap" class="national-treemap" data-webapp="provincial-treemap"></div>
  <div data-webapp="resources-homepage"></div>

  {%
    include scenes/homepage/VideoSection/index.html
    video_1=video_1
    video_2=video_2
    video_3=video_3
  %}

  {% if site.data.events.upcoming %}
    {%
      include scenes/homepage/EventSection/index.html
      events_list=site.data.events.upcoming
    %}
  {% endif %}

  {%
    include scenes/homepage/AboutSection/index.html
  %}
</div>
