<div>
  <div class="Section is-bevel">
    <div class="Section-card">
      <div class="Page-subHeading u-marginBottom25">Find budget data related to one of these topics</div>
      <a href="/{{ page.financial_year }}/search-result?search=Education" class="Button is-grey u-marginBottom10">Education</a>
      <a href="/{{ page.financial_year }}/search-result?search=Social%20grants" class="Button is-grey u-marginBottom10">Social grants</a>
      <a href="/{{ page.financial_year }}/search-result?search=Tourism" class="Button is-grey u-marginBottom10">Tourism</a>
      <a href="/{{ page.financial_year }}/search-result?search=HIV%20prevention" class="Button is-grey u-marginBottom10">HIV prevention</a>
      <a href="/{{ page.financial_year }}/search-result?search=Policing" class="Button is-grey u-marginBottom10">Policing</a>
      <a href="/{{ page.financial_year }}/search-result?search=Poverty%20alleviation" class="Button is-grey u-marginBottom10">Poverty alleviation</a>
    </div>
  </div>
</div>
