.Glossary {
  padding: 15px 0;
}

.Glossary-search {
  border: 1px solid $colour-shading-medium;
  border-radius: 3px;
  padding: 9px 13px;
  font-size: 14px;
  width: 100%;
  max-width: 300px;
  display: inline-block;
  margin-bottom: 20px;
}

.Glossary-letter {
  opacity: 0.2;
  display: inline-block;
  padding: 5px 7px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  color: $colour-shading-dark;

  &.is-valid {
    cursor: pointer;
    opacity: 1;

    &:hover {
      background-color: darken(white, 10%);
    }
  }
}

.Glossary-heading {
  font-size: 18px;
  font-weight: bold;
  border-bottom: solid 1px $colour-shading-medium;
  padding-bottom: 5px;
}

.Glossary-title {
  font-weight: bold;
}

.Glossary-item {
  margin: 20px 0;
  line-height: 1.3;
}

.Glossary-section {
  margin-top: 20px;
}
