<h3 class="Section-title is-small">What are Treasury, Departments and Parliament busy with?</h3>

<ul>
  <li>National Treasury holds technical structures hearings, where function groups present their recommendations. (August & September)</li>
  <li>The Ministers' Committee on the Budget Technical Committee (MTEC) deliberations culminate in it tabling recommendations to political executive structures, including the Ministers' Committee on the Budget (MINCOMBUD), the Budget Council and the Budget Forum. (August & September)</li>
  <li>The Ministers' Committee on the Budget (MINCOMBUD) finalises its recommendations to Cabinet on the fiscal framework, key national government spending priorities, division of revenue (DoR) and the substantial adjustments to conditional grants to be tabled in the Medium Term Budget Policy Statement (MTBPS). (August & September)</li>
  <li>Departments engage with technical and political structures on the budget as per the adopted budget strategy and budget process. (August & September)</li>
  <li>Holding of "Women's Parliament".</li>
  <li>Parliament decides on the priorities for the fourth term. (August & September)</li>
</ul>

<h3 class="Section-title is-small">How can I participate?</h3>

<ul>
  <li>Engage government departments on their budgets.</li>
</ul>
    
