<h3 class="Section-title is-small">What are Treasury, Departments and Parliament busy with?</h3>

<ul>
  <li>Cabinet considers the recommendations tabled before it on the Medium Term Budget Policy Statement (MTBPS) and the MTBPS is then tabled. It includes the 3 year policy position on the fiscal framework, key national government spending priorities, the Division of Revenue (DoR) as well as the substantial adjustments to conditional grants.</li>
  <li>In-year budget processes culminate in the tabling of the Adjustments Appropriation Bill and the Division of Revenue Amendment Bill.</li>
  <li>National Treasury issues draft allocation letters to national departments and the departments begin preparing their budget documentation inputs on the basis of these letters.</li>
  <li>Departments prepare budgets and budget documentation in accordance with the received draft allocations.</li>
  <li>Parliament reviews the Annual Reports (ARs) and preparation for BRRRs.</li>
  <li>Within 9 days of the tabling of the adjustments budget, Parliament must submit a report on the revised fiscal framework to the respective houses for consideration and adoption.</li>
</ul>

<h3 class="Section-title is-small">How can I participate?</h3>

<ul>
  <li>Participate in public hearings on the revised fiscal framework.</li>
</ul>
