<div class='Preview{% if include.transparent == "true" %} Preview--transparent{% endif %}{% if include.full_height == "true" %} Preview--fullHeight{% endif %}{% if include.top_align == "true" %} Preview--topAlign{% endif %}'>

  {% if include.icon %}
    <div class="Preview-icon">
      {%
        include components/Preview/components/Marker/index.html
        type=include.icon
        color=include.color
      %}
    </div>
  {% endif %}

  {% if include.url %}
    <a href="{{ include.url }}" class="Preview-heading Preview-heading--link">
      {{ include.title | truncate: 80}}
    </a>
    <div class="Preview-content">
      {% if include.full_height == "true" %}
        {{ include.excerpt }}
      {% else %}
        {{ include.excerpt | truncate: 170}}
      {% endif %}
    </div>

    {% if include.prompt %}
      <p>
        <a class="Preview-link" href="{{ include.url }}"><strong>{{ include.prompt }}</strong></a>
      </p>
    {% endif %}
  {% else %}
    <div class="Preview-heading">
      {{ include.title | truncate: 70}}</div>
    <div class="Preview-content">
      {% if include.full_height == "true" %}
        {{ include.excerpt }}
      {% else %}
        {{ include.excerpt | truncate: 190}}
      {% endif %}
    </div>
  {% endif %}

  {% assign info = include.info | split: ", " %}

  {% if include.type and include.location %}
    <ul class="LinksList u-marginTop25">

    {% if include.type %}
      <li class="LinksList-link">
        <span class="LinksList-icon">
          {%
            include components/Icon/index.html
            type="star"
            size="s"
          %}
        </span>
        {{ include.type }}
      </li>
    {% endif %}

    {% if include.location %}
      <li class="LinksList-link">
        <span class="LinksList-icon">
          {%
            include components/Icon/index.html
            type="pin"
            size="s"
          %}
        </span>
        {{ include.location }}
      </li>
    {% endif %}
  
    </ul>
  {% endif %}
</div>
