.VideoSection {
  background: white;
  padding: 1rem 2rem 2rem;
}

.VideoSection-heading {
  text-align: center;
  fill: #7bb344;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem 0;
}

.VideoSection-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}

.VideoSection-item {
  padding: 1rem;
  width: 100%;

  @media screen and (min-width: 1050px) {
    width: (100% / 3);
  }
}
